- content_for :title, "Re-Volt America - Edit Team"

%h1
  = t("teams.edit.title")

= form_with(:model => @team) do |form|
  .row
    .col-md-5
      .field.form-group
        = form.label :name, t("teams.edit.name")
        = form.text_field :name, :class => "form-control"
      .field.form-group
        = form.label :short_name, t(".short-name")
        = form.text_field :short_name, :class => "form-control"
      .field.form-group
        = form.label :color, t(".color")
        = form.color_field :color, :class => "form-control"
      = form.label :team_image, t(".team-img")
      .field.file-input-group
        = form.hidden_field :team_logo, :value => @team.cached_team_logo_data, :id => nil
        = form.file_field :team_logo, :accept => "image/png, image/jpeg", :class => "form-control-file"
      .field.form-group
        = form.label :leader, t(".leader")
        = form.select :leader, @sorted_members.collect { |u| [u.username, u.id] }, { :prompt => t("shared.prompt.leader")}, :class => "form-control"
      .actions
        = link_to t("shared.button.back"), team_path(@team), :class => 'btn btn-sm'
        = form.button t("shared.submit.update"), :type => "submit", :"data-turbo" => false, :class => "btn btn-sm"
    .col-md-7
      - if @team.errors.any?
        #error-explanation
          %h5
            = t(".error")
          %ul
            - @team.errors.each do |error|
              %li= error.full_message
