- content_for :title, t("teams.meta.index.page-title")

#teams
  - if @teams.none?
    %h2
      = t("teams.title")
    %h5.text-center.mt-3
      = t("teams.no-teams")
  - else
    %h1
      = t("teams.global-points.title")
    .tab-pane.fade.show{:"aria-labelledby" => "teams-tab", role: "tabpanel"}
      .text-center
        .row
          - @teams.each do |team|
            .team-card.col-xl-3.col-lg-4.cl-md-4.col-sm-6.col-12
              .card
                .card-header
                  .text-center
                    %h2.car-title
                      = "#{team.name}"
                      %small
                        = "(#{team.short_name})"
                .card-body
                  %a{:href => team_path(team)}
                    %img.card-img-top{:src => team.team_logo_url, :alt => ""}
                .card-footer
                  .row
                    .col-5
                      %p
                        = t("teams.team.leader") + ":"
                    .col-7
                      %p
                        = link_to team.leader.username, user_path(team.leader) if team.leader
                - if team.members.any?
                  .card-footer
                    .row
                      .col-6
                        %p
                          = t("teams.team.members") + ":"
                      .col-12
                        - team.members.each do |member|
                          = link_to "#{member.username} #{team.members.last.eql?(member) ? '' : ','}" , user_path(member)
    %table.table.table-hover
    .table-responsive#teams-table
      %table.table.table-bordered.table-striped.table-hover
        %tbody
          - @count = 1
          - @sorted_teams.each do |t|
            %tr{style: "transform: rotate(0);"}
              %th.pos{:scope => "row", :style => "background-color: #{t.color}; color: #{invert_color(t.color, black_white=true)};"}
                %a.stretched-link{:href => team_path(t), :style => "color: #{invert_color(t.color, black_white=true)};"}
                  = "#{@count}°"
              %td.logo.text-center{:style => "background-color: #{t.color}; color: #{invert_color(t.color, black_white=true)};"}
                %a{:href => team_path(t)}
                  %img{:src => t.team_logo_url, :alt => ""}
              %td.name.text-center{:style => "background-color: #{t.color}; color: #{invert_color(t.color, black_white=true)};"}
                = t.name
              %td.score.text-center{:style => "background-color: #{t.color}; color: #{invert_color(t.color, black_white=true)};"}
                = t.points
            - @count += 1

  - if user_is_admin?
    .text-center
      = link_to t("misc.button.new"), new_team_path, :class => "btn btn-sm"
