- content_for :title, "Re-Volt America - Teams"

#teams
  - if @teams.none?
    %h2
      RVA Teams
    %h5.text-center.mt-3
      = "No teams to display"
  - else
    %h1
      Global Team Points
    #teams.tab-pane.fade.show{:"aria-labelledby" => "teams-tab", role: "tabpanel"}

    %table.table.table-hover
    .table-responsive#teams-table
      %table.table.table-bordered.table-striped.table-hover
        %tbody
          - @count = 1
          - @sorted_teams.each do |t|
            %tr{style: "transform: rotate(0);"}
              %th.pos{:scope => "row", :style => "background-color: #{t.color}; color: #{invert_color(t.color, black_white=true)};"}
                %a.stretched-link{:href => team_path(t), :style => "color: #{invert_color(t.color, black_white=true)};"}
                  = "#{@count}°"
              %td.logo.text-center{:style => "background-color: #{t.color}; color: #{invert_color(t.color, black_white=true)};"}
                %a{:href => team_path(t)}
                  %img{:src => t.team_logo_url, :alt => ""}
              %td.name.text-center{:style => "background-color: #{t.color}; color: #{invert_color(t.color, black_white=true)};"}
                = t.name
              %td.score.text-center{:style => "background-color: #{t.color}; color: #{invert_color(t.color, black_white=true)};"}
                = t.points
            - @count += 1
