%h1
  = @team.name
  %small
    = "(#{@team.short_name})"
%hr

%h3.text-center
  .row
    .col-md-12
      %img.img-fluid{:src => @team.team_logo_url, :alt => "", :width => 250}
    .col-md-12
      = "#{@team.points} total points"

%h3
  = "Members"
%hr

.table-responsive#team-members-table
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th
          = t("teams.table.name")
        %th
          = t("teams.table.country")
        %th
          = t("teams.table.role.title")
    %tbody
      %tr
        %td
          = link_to @leader.username, user_path(@leader)
        %td
          = render :partial => 'users/country_flag', :locals => {:country => @leader.country}
        %td
          = t("teams.table.role.leader")
      - @members.each do |m|
        %tr
          %td
            = link_to m.username, user_path(m)
          %td
            = render :partial => 'users/country_flag', :locals => {:country => m.country}
          %td
            = t("teams.table.role.member")

- if user_is_admin?
  = form_with :url => add_member_teams_path, method: :put do |f|
    .row
      .col-md-5
        .input-group
          = f.select :member, @no_team_users.sort_by { |u| u.username.downcase }.collect { |u| [u.username, u.id] }, {}, :class => "custom-select form-control"
          .input-group-append
            = f.button t("teams.edit.add-member"), :type => "submit", :"data-turbo" => false, :class => "btn btn-outline-secondary"
    = f.hidden_field :id, :value => @team.id

  = link_to t("misc.button.back"), teams_path, :class => "btn btn-sm"
  = link_to t("teams.edit.edit-team"), edit_team_path(@team), :class => "btn btn-sm"
