%p#notice= notice
%p
  %strong Name:
  = @team.name
%p
  %strong Short name:
  = @team.short_name
%p
  %strong Image:
  = @team.image
%p
  %strong String:
  = @team.leader
= link_to 'Edit', edit_team_path(@team)
|
= link_to 'Back', teams_path
