%h1
  = @team.name
  %small
    = "(#{@team.short_name})"
%hr

%h3.text-center
  .row
    .col-md-12
      %img.img-fluid{:src => @team.team_logo_url, :alt => "", :width => 250}
    .col-md-12
      = "#{@team.points} total points"

%h3
  = "Members"
%hr

.table-responsive#team-members-table
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Name
        %th Country
        %th Role
    %tbody
      %tr
        %td
          = link_to @leader.username, user_path(@leader)
        %td
          = render :partial => 'users/country_flag', :locals => {:user => @leader}
        %td
          Leader
      - @members.each do |m|
        %tr
          %td
            = link_to m.username, user_path(m)
          %td
            = render :partial => 'users/country_flag', :locals => {:user => m}
          %td
            Member

- if user_is_admin?
  = form_with :url => add_member_teams_path, method: :put do |f|
    .row
      .col-md-5
        .input-group
          = f.select :member, User.all.sort_by { |u| u.username.downcase }.collect { |u| [u.username, u.id] }, {}, :class => "custom-select form-control"
          .input-group-append
            = f.button "Add Member", :type => "submit", :"data-turbo" => false, :class => "btn btn-outline-secondary"
    = f.hidden_field :id, :value => @team.id
