%h2.title.mb-4
  = "RVA Seasons"

%nav#tracks-nav.navbar.navbar-expand.navbar-dark.navbar-default.mb-3
  %div.container
    %div.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          %a.nav-link{:href => seasons_path, :class => "#{current_page?(seasons_path) ? 'active' : ''}"}
            = "All Seasons »"
        - if defined?(season)
          %li.nav-item
            %a.nav-link{:href => season_path(season), :class => "#{current_page?(season_path(season)) ? 'active' : ''}"}
              = "#{season.name} »"
        - if defined?(ranking)
          %li.nav-item
            %a.nav-link{:href => ranking_path(ranking), :class => "#{current_page?(ranking_path(ranking)) ? 'active' : ''}"}
              = "Ranking #{ranking.number} »"
        -# NOTE: Our Session model name conflicts with ActionDispatch::Request::Session, so we have to check if the
        -# definition is ours ...
        - if defined?(session) && session.is_a?(Session)
          %li.nav-item
          %a.nav-link{:href => session_path(session), :class => "#{current_page?(session_path(session)) ? 'active' : ''}"}
            = "Session #{session.number}"
