- content_for :title, "Re-Volt America - Edit Season"

= render :partial => "application/subnav", :locals => { :season => @season, :rankings => @season.rankings }

%h2
  = "Editing Season"

= form_with(model: @season) do |form|
  .row
    .col-md-5
      .field.form-group
        = form.label :name
        = form.text_field :name, :class => "form-control"
      .field.form-group
        = form.label :start_date
        = form.date_field :start_date, :class => "form-control"
      .field.form-group
        = form.label :end_date
        = form.date_field :end_date, :class => "form-control"
      .actions
        = form.button "Update", :type => "submit", :class => "btn mb-2"
    .col-md-7
      - if @season.errors.any?
        #error-explanation
          %h5 Season could not be saved
          %ul
            - @season.errors.each do |error|
              %li
                = error.full_message
