- content_for :title, "Re-Volt America - Edit Season"

%h1 Editing Season
= form_with(model: @season) do |form|
  - if @season.errors.any?
    #error-explanation
      %h2
        = pluralize(@season.errors.count, "error")
        prohibited this season from being saved:
      %ul
        - @season.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :start_date
    = form.date_select :start_date
  .field
    = form.label :end_date
    = form.date_select :end_date
  .actions
    = form.submit

= link_to 'Show', @season
|
= link_to 'Back', seasons_path
