%p#notice= notice
%h1 Seasons
%table
  %thead
    %tr
      %th Name
      %th Start date
      %th End date
      %th{:colspan => "3"}
  %tbody
    - @seasons.each do |season|
      %tr
        %td= season.name
        %td= season.start_date
        %td= season.end_date
        %td= link_to 'Show', season
        %td= link_to 'Edit', edit_season_path(season)
        %td= link_to 'Destroy', season, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Season', new_season_path
