- content_for :title, t("seasons.meta.index.page-title")

%h2
  = t("seasons.title")

= render :partial => "application/subnav"

#seasons
  .row.gx-5.align-items-center.justify-content-center
    .col-lg-8.col-xl-7.col-xxl-6
      .my-5.text-center.text-xl-start
        %h2.display-5.fw-bolder.text-white.mb-2
          = t("seasons.explanation.title")
        %p.lead.fw-normal.text-white-80.mb-4
          = t("seasons.explanation.description")
        .justify-content-sm-center
          %a{href: "#{current_season.nil? ? '' : season_path(current_season) }", :class => "btn-important btn-lg px-4 me-sm-3 mr-4 #{current_season.nil? ? 'disabled' : ''}"}
            = t("seasons.buttons.current-season")
          %a.btn-important.btn-lg.px-4{href: points_path}
            = t("seasons.buttons.learn-more")
    .col-xl-5.col-xxl-6.text-center
      = image_tag "seasons.png", :class => "img-fluid rounded-3 my-5"

  - if @seasons.any?
    %h3.text-center
      = t("seasons.bottom.title")
    %h3.border-bottom.border-gray.pb-2.mb-0
    - @seasons.each do |season|
      - if season.eql?(current_season)
        %a.media.ongoing.text-muted.pt-3.border-bottom.border-gray{:href => season_path(season) }
          .media-body.pb-3.mb-0.small.lh-125
            .d-flex.justify-content-between.align-items-center.w-100
              %strong.text-gray-dark
                = season.name
            %span.d-block.session-host
              = "#{season.start_date} — #{season.end_date.nil? ? t("seasons.bottom.present") : season.end_date }"
      - else
        %a.media.text-muted.pt-3.border-bottom.border-gray{:href => season_path(season) }
          .media-body.pb-3.mb-0.small.lh-125
            .d-flex.justify-content-between.align-items-center.w-100
              %strong.text-gray
                = season.name
            %span.d-block.session-host
              = "#{season.start_date} — #{season.end_date.nil? ? t("seasons.bottom.present") : season.end_date }"
