- content_for :title, t("seasons.meta.new.page-title")

%h2.mb-3
  = t("seasons.create.title")
= form_with(model: @season) do |form|
  .row
    .col-md-5
      - if @season.errors.any?
        #error-explanation
          %h2
            = pluralize(@season.errors.count, "error")
            = t("seasons.create.error")
          %ul
            - @season.errors.each do |error|
              %li= error.full_message
      .field.form-group
        = form.label :name, t("seasons.edit.name")
        = form.text_field :name, :class => "form-control"
      .field.form-group
        = form.label :start_date, t("seasons.edit.start-date")
        = form.date_field :start_date, :class => "form-control", :min => Date.new(2017, 01, 02), :max => Date.today + 1.year
      .actions
        = form.button t("seasons.create.title"), :type => "submit", :class => "btn mb-2"
