%h2.mb-3 Create Season
= form_with(model: @season) do |form|
  .row
    .col-md-5
      - if @season.errors.any?
        #error_explanation
          %h2
            = pluralize(@season.errors.count, "error")
            prohibited this season from being saved:
          %ul
            - @season.errors.each do |error|
              %li= error.full_message
      .field.form-group
        = form.label :name
        = form.text_field :name, :class => "form-control"
      .field.form-group
        = form.label :start_date
        = form.date_field :start_date, :class => "form-control", :min => Date.new(2017, 01, 02), :max => Date.today
      .actions
        = form.button "Create Season", :type => "submit", :class => "btn mb-2"
