%h1.display-5.fw-bolder.text-white.mb-2
  = @season.name

.container.mt-5
  .row
    .col-md-12
      .table-wrap
        - @season.rankings.each do |ranking|
          %table.table.table-responsive-xl
            %thead
              %tr
                %th{:colspan => 3}
                  .text-center
                    = "Ranking #{ranking.number}"
              %tr
                %th #
                %th Host
                %th Link
            %tbody
              - ranking.sessions.each do |session|
                %tr
                  %td
                    = session.number
                  %td
                    = session.host
                  %td
                    = link_to "Session", session_path(session)
