#season
  .container
    %h3.nissan-title.mb-4
      = link_to (image_tag "rva-logo-dark.png", :height => "40", :width => "40", :style => "border-radius: 50px;"), "/"
      = "/"
      = "#{link_to @season.name, @season} /"

  %h6.border-bottom.border-gray.pb-2.mb-0
    = ""
  - @season.rankings.each do |ranking|
    %a.media.text-muted.pt-3.border-bottom.border-gray{:href => ranking_path(ranking) }
      .session-number{:style => "background-color: #fff;"}
        .text-center
          %span.align-middle
            = ranking.number
      .media-body.pb-3.mb-0.small.lh-125
        .d-flex.justify-content-between.align-items-center.w-100
          %h3{:style => "margin-top: 6px; margin-left: 5px;"}
            = "Ranking #{ranking.number}"

