- content_for :title, "Re-Volt America - #{@season.name}"

= render :partial => "application/subnav", :locals => { :season => @season, :rankings => @season.rankings }

%h2.mt-4.text-center
  = "#{@season.name} Leaderboard"

.table-responsive#season-stats-table
  %table.mt-1.table.table-bordered.table-striped
    %thead
      %tr
        %th{width: "1%"} #
        %th{width: "2%"} Country
        %th{width: "16%"} Racer
        %th.text-center{width: "14%"} PP
        %th.text-center{width: "14%"} PA
        %th.text-center{width: "14%"} MP
        %th.po.text-center{width: "14%"} PO
        %th.text-center{width: "14%"} CC
        %th.text-center{width: "14%"} FJ
    %tbody
      - @entries.each do |e|
        - @count += 1
        %tr
          %td.rank.text-center
            = "#{@count - 1}"
          %td.country-flag.text-center
            - if e.country.nil? || e.country.eql?("??")
              = "?"
            - else
              = ISO3166::Country.new(e.country).emoji_flag
          %td.racer.align-middle.text-center
            = link_to e.username, user_path(e.username)
          %td.stat-number.align-middle.text-center
            = e.average_position.round(3)
          %td.stat-number.align-middle.text-center
            = e.obtained_points
          %td.stat-number.align-middle.text-center
            = e.participation_multiplier.round(3)
          %td.po.align-middle.text-center
            = e.official_score.round(2)
          %td.stat-number.align-middle.text-center
            = e.race_count
          %td.stat-number.align-middle.text-center
            = e.session_count
