<p id="notice"><%= notice %></p>

<p>
  <strong>About:</strong>
  <%= @profile.about %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Public email:</strong>
  <%= @profile.public_email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>Discord:</strong>
  <%= @profile.discord %>
</p>

<p>
  <strong>Github:</strong>
  <%= @profile.github %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @profile.instagram %>
</p>

<p>
  <strong>Crowdin:</strong>
  <%= @profile.crowdin %>
</p>

<p>
  <strong>Steam:</strong>
  <%= @profile.steam %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @profile.twitter %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @profile.occupation %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @profile.interests %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
