%p#notice= notice
%p
  %strong About:
  = @profile.about
%p
  %strong Gender:
  = @profile.gender
%p
  %strong Public email:
  = @profile.public_email
%p
  %strong Location:
  = @profile.location
%p
  %strong Discord:
  = @profile.discord
%p
  %strong Github:
  = @profile.github
%p
  %strong Instagram:
  = @profile.instagram
%p
  %strong Crowdin:
  = @profile.crowdin
%p
  %strong Steam:
  = @profile.steam
%p
  %strong Twitter:
  = @profile.twitter
%p
  %strong Occupation:
  = @profile.occupation
%p
  %strong Interests:
  = @profile.interests
= link_to 'Edit', edit_profile_path(@profile)
|
= link_to 'Back', profiles_path
