- content_for :title, t("results.meta.singles.page-title", number: @session.number)
- meta :title, t("results.meta.singles.title")
- meta :description, singles_session_meta_desc(@rva_results)

.container
  = render :partial => "application/subnav", :locals => { :season => @session.ranking.season, :rankings => @session.ranking.season.rankings, :ranking => @session.ranking, :session => @session }

  .row
    .col-xl-5.col-lg-5.col-md-12.col-xs-12
      .session-details.mb-4
        %h2
          = t("results.title", category:category_name(@session.category), number:@session.number ) #{category_name(@session.category)} Races (Session #{@session.number})
        %ul
          %li
            = t("results.version", version:@session.version) #{@session.version}"
          %li
            = t("results.connection", protocol:@session.protocol) #{@session.protocol}
          %li
            = t("results.mode", physics:@session.physics) #{@session.physics}
          %li
            = t("results.pickups", pickups:@session.pickups ? "Enabled" : "Disabled") #{@session.pickups ? "Enabled" : "Disabled"}
          %li
            = t("results.teams", teams:@session.teams? ? "Yes" : "No") #{@session.teams? ? "Yes" : "No"}
          %li
            = link_to t("results.download"), @session.session_log_url
    - if user_is_organizer? || user_is_admin?
      .col-xl-5.col-lg-5.col-md-12.col-xs-12
        .session-details.mb-4
          %h2
            = t("results.admin.title")
          %ul
            %li
              %button{:id => "dl-png", :class => "btn mt-2"}
                = t('misc.download-as-png')
            %li
              = link_to t("results.admin.edit.button"), edit_session_path(@session), :class => "btn mt-2"
            %li
              = link_to t("results.admin.delete.button"), @session, data: { turbo: true, turbo_method: :delete, turbo_confirm: t("results.admin.delete.confirmation.body") }, :class => "btn mt-2"

#results.container
  %table.table.table-sm.table-fluid.table-responsive{:id => "session"}
    %thead
      %tr
        %th.text-center.align-middle{:width => "1%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.session-number")}
          = @rva_results[0][0] # "#"
        %th.align-middle{:width => "8%"}
          = @rva_results[0][1] # "Date"
        %th.text-center.align-middle{:width => "1%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.final-position")}
          = t("rankings.table.fp")
        %th.align-middle{:width => "30%"}
          = t("rankings.table.racer")
        - @rva_results[0].slice(2, @session.races.size).each do |item|
          %th.text-center.align-middle{:width => "4%"}
            - if item.is_a?(Track)
              = link_to item.short_name, track_path(item)
            - else
              %span{:"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tracks.not-found")}
                = "?"
        %th.pp-header.text-center.align-middle{:width => "2%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.average-position")}
          = t("rankings.table.pp")
        %th.pa-header.text-center.align-middle{:width => "2%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.obtained-points")}
          = t("rankings.table.pa")
        %th.cc-header.text-center.align-middle{:width => "2%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.race-count")}
          = t("rankings.table.cc")
        %th.mp-header.text-center.align-middle{:width => "2%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.participation-multiplier")}
          = t("rankings.table.mp")
        %th.po-header.text-center.align-middle{:width => "2%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.official-score")}
          = t("rankings.table.po")
    %tbody
      - @rva_results.drop(1).each do |row|
        - if @count.even?
          %tr
            %td.number-col.text-center.align-middle
              = row[0]
            %td.date-col
              = row[1]
            %td.fp-col.text-center.align-middle
              = row[2]
            %td.racer-col
              - if row[3].is_a?(User)
                = link_to row[3].username, user_path(row[3]), :style => "color: #{row[3].username.eql?(@session.host) ? "yellow" : ""};"
              - else
                %span{:style => "color: #{row[3].eql?(@session.host) ? "yellow" : ""}"}
                  = row[3]
            - row[4].each do |pos|
              %td.pos.text-center.align-middle{:style => "color: #{position_color(pos)};"}
                = pos
            %td.pp.text-center.align-middle
              = row[5]
            %td.pa.text-center.align-middle
              = row[6]
            %td.cc.text-center.align-middle
              = row[7]
            %td.mp.text-center.align-middle
              = row[8]
            %td.po.text-center.align-middle
              = row[9]
        - else
          %tr
            %td.number-col
              = row[0]
            %td.date-col
              = row[1]
            %td.fp-col.text-center.align-middle
              = row[2]
            %td.racer-col
              = row[3]

            - i = 0
            - step = 0
            - colspan = 1
            - first = true
            - row[4].each do |item|
              - if item.eql?("r")
                %td{:height => "34.6"}
                  = ""
                - next

              - if !step.zero?
                - step -= 1
                - colspan -= 1
                - i += 1
                - next

              - if item.eql?("x") || (!item.is_a?(Car) && item.start_with?('?'))
                - col = i
                - while row[4][col + 1].eql?("x") || (!row[4][col + 1].is_a?(Car) && row[4][col + 1].start_with?("?"))
                  - step += 1
                  - colspan += 1
                  - col += 1

              - if item.is_a?(Car) || item.start_with?('!!')
                - col = i
                - while not row[4][col + 1].is_a?(Car) and not %w[!CC !PA !PP !MP !PO].include?(row[4][col + 1])
                  - step += 1
                  - colspan += 1
                  - col += 1

              - if item.is_a?(Car)
                %td.car{:colspan => colspan}
                  = link_to item.name, car_path(item)
              - if item.is_a?(String) && item.start_with?('?')
                %td.car{:colspan => colspan}
                  = item.tr('?', '')
              - if item.eql?("x")
                %td{:colspan => (first ? colspan : 1)}
                  = ""
              - if %w[!CC !PA !PP !MP !PO].include?(item)
                %td{:class => "#{item.eql?("!CC") ? 'cc' : ''}" "#{item.eql?("!PA") ? 'pa' : ''}" "#{item.eql?("!PP") ? 'pp' : ''}" "#{item.eql?("!MP") ? 'mp' : ''}" "#{item.eql?("!PO") ? 'po' : ''}"}
                  = ""

              - i += 1
              - first = false

        - @count += 1

  .row
    .col-4
      %b
        = t("rankings.table.fp") + ":"
      = t("results.container.tooltips.final-position")
    .col-4
      %b
        = t("rankings.table.pa") + ":"
      = t("results.container.tooltips.average-position")
    .col-4
      %b
        = t("rankings.table.pa") + ":"
      = t("results.container.tooltips.accumulated-score")
    .col-4
      %b
        = t("rankings.table.po") + ":"
      = t("results.container.tooltips.official-score")
    .col-4
      %b
        = t("rankings.table.cc") + ":"
      = t("results.container.tooltips.race-count")
    .col-4
      %b
        = t("rankings.table.mp") + ":"
      = t("results.container.tooltips.participation-multiplier")
