- cache "Session##{@session.id}", :expires_in => 5.minutes do
  #results
    .container
      %h3.nissan-title.mb-4
        = link_to (image_tag "rva-logo-dark.png", :height => "40", :width => "40", :style => "border-radius: 50px;"), seasons_path
        = "/"
        = "#{link_to @session.ranking.season.name, @session.ranking.season} /"
        = "#{link_to "Ranking #{@session.ranking.number}", @session.ranking} /"
        = "#{link_to "Session #{@session.number}", @session}"
        = link_to 'Edit', edit_session_path(@session), :class => "btn btn-sm"

      %table.table.table-sm.table-fluid.table-responsive
        %thead
          %tr
            %th.text-center.align-middle{:width => "1%"}
              = @rva_results[0][0] # "#"
            %th.align-middle{:width => "8%"}
              = @rva_results[0][1] # "Date"
            %th.text-center.align-middle{:width => "1%"}
              FP
            %th.align-middle{:width => "30%"}
              Racer
            %th.align-middle{:width => "6%"}
              Team
            - @rva_results[0].slice(2, @session.races.size).each do |track|
              %th.text-center.align-middle{:width => "4%"}
                = link_to track.short_name, track_path(track)
            %th.cc-header.text-center.align-middle{:width => "2%"}
              CC
            %th.pa-header.text-center.align-middle{:width => "2%"}
              PA
        %tbody
          - @rva_results.drop(1).each do |row|
            - if @count.even?
              %tr
                %td.number-col.text-center.align-middle
                  = row[0]
                %td.date-col
                  = row[1]
                %td.fp-col.text-center.align-middle
                  = row[2]
                %td.racer-col
                  - if row[3].is_a?(User)
                    = link_to row[3].username, user_path(row[3])
                  - else
                    = row[3]
                %td.team-col.text-center.align-middle
                  - if row[4].is_a?(Team)
                    = link_to row[4].short_name, team_path(row[4])
                  - else
                    = row[4]
                - row[5].each do |pos|
                  %td.pos.text-center.align-middle{:class => "#{pos == "1" ? 'first-place' : ''}" "#{pos == "2" ? 'second-place' : ''} #{pos == "3" ? 'third-place' : ''}"}
                    = pos
                %td.cc.text-center.align-middle
                  = row[6]
                %td.pa.text-center.align-middle
                  = row[7]
            - else
              %tr
                %td.number-col
                  = row[0]
                %td.date-col
                  = row[1]
                %td.fp-col.text-center.align-middle
                  = row[2]
                %td.racer-col
                  = row[3]
                %td.team-col
                  = row[4]

                - i = 0
                - step = 0
                - colspan = 1
                - first = true
                - row[5].each do |item|
                  - if !step.zero?
                    - step -= 1
                    - colspan -= 1
                    - i += 1
                    - next

                  - if item.eql?("x")
                    - col = i
                    - while row[5][col + 1].eql?("x")
                      - step += 1
                      - colspan += 1
                      - col += 1

                  - if item.is_a?(Car)
                    - col = i
                    - while not row[5][col + 1].is_a?(Car) and not %w[!CC !PA !PP !MP !PO].include?(row[5][col + 1])
                      - step += 1
                      - colspan += 1
                      - col += 1

                  - if item.is_a?(Car)
                    %td.car{:colspan => colspan}
                      = link_to item.name, car_path(item)
                  - if item.eql?("x")
                    %td{:colspan => (first ? colspan : 1)}
                      = ""
                  - if %w[!CC !PA !PP !MP !PO].include?(item)
                    %td{:class => "#{item.eql?("!CC") ? 'cc' : ''}" "#{item.eql?("!PA") ? 'pa' : ''}"}
                      = ""

                  - i += 1
                  - first = false

            - @count += 1

      .row
        .col-4
          %b
            FP:
          Final Position
        .col-4
          %b
            CC:
          Race Count
        .col-4
          %b
            PA:
          Accumulated Score
