- content_for :title, t("results.meta.teams.page-title", number: @session.number)
- meta :title, t("results.meta.teams.title")
- meta :description, teams_session_meta_desc(@results_table)
- host_name = @session.host_name

.container
  = render :partial => "application/subnav", :locals => { :season => @session.ranking.season, :ranking => @session.ranking, :session => @session }

  .row
    .col-xl-5.col-lg-5.col-md-12.col-xs-12
      .session-details.mb-4
        %h2
          = t("results.title", category:category_name(@session.category), number: @session.number )
        %ul
          %li
            = t("results.version", version: @session.version)
          %li
            = t("results.connection", protocol: @session.protocol)
          %li
            = t("results.mode", physics: @session.physics)
          %li
            = t("results.pickups", pickups: @session.pickups ? "Enabled" : "Disabled")
          %li
            = t("results.teams", teams: @session.teams? ? "Yes" : "No")
          %li
            = link_to  t("results.download"), @session.session_log_url
    - if user_is_organizer? || user_is_admin?
      .col-xl-5.col-lg-5.col-md-12.col-xs-12
        .session-details.mb-4
          %h2
            = t("results.admin.title")
          %ul
            %li
              %button{:id => "dl-png", :class => "btn mt-2"}
                = t('misc.download-as-png')
            %li
              = link_to t("results.admin.edit.button"), edit_session_path(@session), :class => "btn mt-2"
            %li
              = link_to t("results.admin.delete.button"), @session, data: { turbo: true, turbo_method: :delete, turbo_confirm: t("results.admin.delete.confirmation.body") }, :class => "btn mt-2"
#results.container
  %table.table.table-sm.table-fluid.table-responsive{:id => "session"}
    %thead
      %tr
        %th.text-center.align-middle{:width => "1%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.session-number")}
          #
        %th.align-middle{:width => "8%"}
          Date
        %th.text-center.align-middle{:width => "1%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.final-position")}
          = t("rankings.table.fp")
        %th.align-middle{:width => "30%"}
          = t("rankings.table.racer")
        %th.align-middle{:width => "6%"}
          = t("results.team")
        - @results_table.tracks.each do |item|
          %th.text-center.align-middle{:width => "4%"}
            - if item.is_a?(Track)
              = link_to item.short_name, track_path(item), :"data-toggle" => "tooltip", :"data-placement" => "top", :"data-html" => "true", :title => "<div class='track-tooltip-content'><h5>#{item.name}</h5><img src='#{item.thumbnail_url}' alt='#{item.name}' /><div class='track-details'><span>Difficulty: #{item.difficulty_name}</span></div></div>"
            - else
              %span{:"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tracks.not-found")}
                = "?"
        %th.cc-header.text-center.align-middle{:width => "2%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.race-count")}
          = t("rankings.table.cc")
        %th.pa-header.text-center.align-middle{:width => "2%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.obtained-points")}
          = t("rankings.table.pa")
    %tbody
      - @results_table.rows.each_with_index do |row, idx|
        %tr
          %td.number-col.text-center.align-middle
            = idx.zero? ? @results_table.session_number : ''
          %td.date-col
            = idx.zero? ? @results_table.session_date : ''
          %td.fp-col.text-center.align-middle
            = row.final_position
          %td.racer-col
            - if row.racer_user
              = link_to row.racer_user.username, user_path(row.racer_user), :"data-toggle" => "tooltip", :"data-placement" => "top", :"data-html" => "true", :title => "<div class='user-tooltip-content'><h5>#{row.racer_user.username}</h5>#{row.racer_user.profile.profile_picture_url ? "<div class='user-image'>" + image_tag(row.racer_user.profile.profile_picture_url, class: 'rounded', alt: row.racer_user.username) + "</div>" : ""}<div class='user-details'><span>Sessions: #{row.racer_user.stats.session_count}</span><span>Wins: #{row.racer_user.stats.session_wins}</span><span>#{row.racer_user.has_team? ? "Team: #{row.racer_user.team.name}" : ""}</span></div></div>", :style => "color: #{row.racer_user.username.eql?(host_name) ? "yellow" : ""};"
            - else
              %span{:style => "color: #{row.racer_name.eql?(host_name) ? "yellow" : ""}"}
                = row.racer_name
          %td.team-col.text-center.align-middle
            - if row.team_entity
              = link_to row.team_entity.short_name, team_path(row.team_entity)
            - else
              = row.team_name
          - row.positions.each do |pos|
            %td.pos.text-center.align-middle{:style => "color: #{position_color(pos)};"}
              = pos
          %td.cc.text-center.align-middle
            = row.race_count
          %td.pa.text-center.align-middle
            = row.obtained_points

        %tr
          %td.number-col
            = ''
          %td.date-col
            = ''
          %td.fp-col.text-center.align-middle
            = ''
          %td.racer-col
            = row.racer_name
          %td.team-col
            = row.team_name

          - i = 0
          - step = 0
          - colspan = 1
          - first = true
          - row.cars.each do |item|
            - if item.eql?("r")
              %td{:height => "34.6"}
                = ""
              - next

            - if !step.zero?
              - step -= 1
              - colspan -= 1
              - i += 1
              - next

            - if item.eql?("x") || (item.is_a?(String) && item.start_with?('?'))
              - col = i
              - while row.cars[col + 1] && (row.cars[col + 1].eql?("x") || (row.cars[col + 1].is_a?(String) && row.cars[col + 1].start_with?("?")))
                - step += 1
                - colspan += 1
                - col += 1

            - if item.is_a?(Car) || (item.is_a?(String) && item.start_with?('!!'))
              - col = i
              - while row.cars[col + 1] && (!row.cars[col + 1].is_a?(Car) && !%w[!CC !PA !PP !MP !PO].include?(row.cars[col + 1]))
                - step += 1
                - colspan += 1
                - col += 1

            - if item.is_a?(Car)
              %td.car{:colspan => colspan}
                = link_to item.name, car_path(item), :"data-toggle" => "tooltip", :"data-placement" => "top", :"data-html" => "true", :title => "<div class='car-tooltip-content'><h5>#{item.name}</h5><img src='#{item.thumbnail_url}' alt='#{item.name}' /><div class='car-details'><span>Speed: #{item.speed}</span><span>Weight: #{item.weight}</span></div></div>"
            - if item.is_a?(String) && item.start_with?('?')
              %td.car{:colspan => colspan}
                = item.tr('?', '')
            - if item.eql?("x")
              %td{:colspan => (first ? colspan : 1)}
                = ""
            - if %w[!CC !PA !PP !MP !PO].include?(item)
              %td{:class => "#{item.eql?("!CC") ? 'cc' : ''}" "#{item.eql?("!PA") ? 'pa' : ''}"}
                = ""

            - i += 1
            - first = false

  .row
    .col-4
      %b
        = t("rankings.table.fp") + ":"
      = t("results.container.tooltips.final-position")
    .col-4
      %b
        = t("rankings.table.cc") + ":"
      = t("results.container.tooltips.race-count")
    .col-4
      %b
        = t("rankings.table.pa") + ":"
      = t("results.container.tooltips.accumulated-score")
