%h2.mb-4 Upload Session

= form_with :url => import_sessions_path, :method => :post do |f|
  .row
    .col-md-5
      .field.input-group
        = f.file_field :file, :accept => ".csv", :class => "form-control-file"

      %div{:"data-controller" => "season"}
        .field.form-group
          = f.select :season, Season.all.collect { |s| [s.name, s.id] }, {:prompt => "Select Season"},  {:data => {:action => "change->season#change"}, :class => "form-control" }
        .field.form-group
          = f.select :ranking, [], {:prompt => "Select Ranking"}, {:data => {:"season_target" => "rankingSelect"}, :class => "form-control"}
      .field.form-group
        = f.select :number, SYS::SESSION_NUMBERS, {:prompt => "Select Session Number"}, {:class => "form-control"}
      .field.form-group
        = f.select :category, SYS::CATEGORY::NUMBERS_MAP, {:prompt => "Select Category"}, {:class => "form-control"}
      .field.form-group
        = f.check_box :teams
        = f.label :teams

      = f.button "Import", :type => "submit", :"data-turbo" => false, :class => "btn"
