%h1 New Session

= form_with :url => import_sessions_path, :method => :post do |f|
  .field
    = f.file_field :file, :accept => ".csv"

  %br

  %div{:"data-controller" => "season"}
    .field
      = f.label :season
      = f.select :season, Season.all.collect { |s| [s.name, s.id] }, {:prompt => "Select Season"},  {:data => {:action => "change->season#change"}}
    .field
      = f.label :ranking
      = f.select :ranking, [], {:prompt => "Select Ranking"}, {:data => {:"season_target" => "rankingSelect"}}

  .field
    = f.label :car_class
    = f.select :car_class, @car_class_numbers_map, {:prompt => "Select Season"}

  .field
    = f.label :teams
    = f.check_box :teams

  = f.submit "Import", :"data-turbo" => false

%br
= link_to 'Back', sessions_path
