- content_for :title, "Re-Volt America - New Session"

%h2.mb-4
  = t("rankings.sessions.upload.title")

= form_with :url => import_sessions_path, :method => :post do |f|
  .row
    .col-md-5
      .field.file-input-group
        = f.hidden_field :session_log, :value => @session.cached_session_log_data, :id => nil
        = f.file_field :session_log, :accept => ".csv", :class => "form-control-file"

      %div{:"data-controller" => "season"}
        .field.form-group
          = f.select :season, Season.all.collect { |s| [s.name, s.id] }, {:prompt => t("misc.prompt.season")},  {:data => {:action => "change->season#change"}, :class => "form-control" }
        .field.form-group
          = f.select :ranking, [], {:prompt => t("misc.prompt.ranking")}, {:data => {:"season_target" => "rankingSelect"}, :class => "form-control"}
      .field.form-group
        = f.select :category, SYS::CATEGORY::RVA_NUMBERS_MAP, {:prompt => t("misc.prompt.category")}, {:class => "form-control"}
      .field.form-group
        = f.check_box :teams
        = f.label :teams, t("misc.checkbox.teams")

      = f.button t("misc.submit.import"), :type => "submit", :"data-turbo" => false, :class => "btn"
