%p#notice= notice
%p
  %strong Host:
  = @session.host
%p
  %strong Version:
  = @session.version
%p
  %strong Physics:
  = @session.physics
%p
  %strong Protocol:
  = @session.protocol
%p
  %strong Date:
  = @session.date
= link_to 'Edit', edit_session_path(@session)
|
= link_to 'Back', sessions_path
