%table
  %thead
    %tr
      %th{:width => "5%"}
        = "#"
      %th{:width => "10%"}
        Date
      %th{:width => "5%"}
        FP
      - @session.races.each do |race|
        %th{:width => "4%"}
          = Track.find(race.track_id).short_name
  %tbody
    %tr
      %th
        = 1
      %td
        = @session.date

= link_to 'Edit', edit_session_path(@session)
|
= link_to 'Back', sessions_path
