%h2.nissan-title.mb-3 Resend Instructions
= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  .row
    .col-md-5
      = render "devise/shared/error_messages", resource: resource
      .field.form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :class => "form-control"
      .actions
        = f.submit "Resend confirmation instructions", :class => "btn mb-2"
      = render "devise/shared/links"
