= form_with(model: ranking) do |form|
  - if ranking.errors.any?
    #error_explanation
      %h2
        = pluralize(ranking.errors.count, "error")
        prohibited this ranking from being saved:
      %ul
        - ranking.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :number
    = form.number_field :number
  .actions
    = form.submit
