%p#notice= notice
%h1 Rankings
%table
  %thead
    %tr
      %th Number
      %th{:colspan => "3"}
  %tbody
    - @rankings.each do |ranking|
      %tr
        %td= ranking.number
        %td= link_to 'Show', ranking
        %td= link_to 'Edit', edit_ranking_path(ranking)
        %td= link_to "Destroy", ranking, data: { turbo: true, turbo_method: :delete, turbo_confirm: "Are you sure?" }
%br/
= link_to 'New Ranking', new_ranking_path
