%h2.mb-3 Create Ranking
= form_with(model: @ranking) do |form|
  .row
    .col-md-5
      - if @ranking.errors.any?
        #error_explanation
          %h2
            = pluralize(@ranking.errors.count, "error")
            prohibited this ranking from being saved:
          %ul
            - @ranking.errors.each do |error|
              %li= error.full_message
      .field.form-group
        = form.label :number
        = form.number_field :number, :class => "form-control"
      .field.form-group
        = form.label :season
        = form.collection_select :season, Season.all, :id, :name, {}, {:class => "form-control"}
      .actions
        = form.button "Create Ranking", :type => "submit", :class => "btn mb-2"
