- content_for :title, "Re-Volt America - Ranking #{@ranking.number}"

= render :partial => "application/subnav", :locals => { :season => @ranking.season, :rankings => @ranking.season.rankings, :ranking => @ranking }

%h2.mb-2
  = "Ranking #{@ranking.number}"
  %small
    = "#{@ranking.sessions.count} sessions played"

.table-responsive#ranking-stats-table
  %table.mt-1.table.table-bordered.table-striped
    %thead
      %tr
        %th{width: "1%"} #
        %th{width: "2%"} Country
        %th{width: "16%"} Racer
        %th.text-center{width: "14%"} PP
        %th.text-center{width: "14%"} PA
        %th.text-center{width: "14%"} MP
        %th.po.text-center{width: "14%"} PO
        %th.text-center{width: "14%"} CC
        %th.text-center{width: "14%"} FJ
    %tbody
      - @entries.each do |e|
        - @count += 1
        %tr
          %td.rank.text-center
            = "#{@count - 1}"
          %td.country-flag.text-center
            - if e.country.nil? || e.country.eql?("??")
              = "?"
            - else
              = ISO3166::Country.new(e.country).emoji_flag
          %td.racer.align-middle.text-center
            = link_to e.username, user_path(e.username)
          %td.stat-number.align-middle.text-center
            = e.average_position.round(3)
          %td.stat-number.align-middle.text-center
            = e.obtained_points
          %td.stat-number.align-middle.text-center
            = e.participation_multiplier.round(3)
          %td.po.align-middle.text-center
            = e.official_score.round(2)
          %td.stat-number.align-middle.text-center
            = e.race_count
          %td.stat-number.align-middle.text-center
            = e.session_count
  #recent
    .mt-4
      %h5.pb-2.mb-0
        = "Sessions"
      - if @sessions.none?
        %h5.text-center.mt-3
          = "No sessions to display"
      - else
        .media-group
          - @sessions.each do |session|
            %a.media.text-muted.pt-3{:href => session_path(session) }
              .session-number{:style => "background-color: #{session_color_hex(session)}"}
                .text-center
                  %span.align-middle
                    = session.number
              .media-body.pb-3.mb-0.small.lh-125
                .d-flex.justify-content-between.align-items-center.w-100
                  %strong.text-gray-dark
                    = "#{session_category_name(session)} Races"
                  .session-date
                    = pretty_datetime(session.date)
                %span.d-block.session-host
                  = "Hosted by #{session.host}"

  .mt-3
    = paginate @sessions
