- content_for :title, t("rankings.page-title", number: @ranking.number)

= render :partial => "application/subnav", :locals => { :season => @ranking.season, :rankings => @ranking.season.rankings, :ranking => @ranking }

%h2.mt-4.text-center
  = t("rankings.title", number:@ranking.number)

#recent
  .mt-4
    %h5.pb-2.mb-0
      %span
        = t("rankings.sessions.title")
        %small
          = "(#{@ranking.sessions.count})"
    - if @sessions.none?
      %h5.text-center.mt-3
        = t("rankings.sessions.no-sessions")
    - else
      .mb-3
        = paginate @sessions

      .media-group
        - @sessions.each do |session|
          %a.media.text-muted.pt-3{:href => session_path(session) }
            .session-number{:style => "background-color: #{session_color_hex(session)}"}
              .text-center
                %span.align-middle
                  = session.number
            .media-body.pb-3.mb-0.small.lh-125
              .d-flex.justify-content-between.align-items-center.w-100
                %strong.text-gray-dark
                  = "#{session.teams? ? t("application.index.recent.team-races", category: session_category_name(session)) : t("application.index.recent.races", category: session_category_name(session))}"
                .session-date
                  = pretty_datetime(session.date)
              %span.d-block.session-host
                = t("application.index.recent.hosted-by", host: session.host) #{session.host}

%h2.mt-4.text-center
  = t("rankings.title2")

%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item
    %a#singles-tab.nav-link.active{"aria-controls" => "singles", "aria-selected" => "true", "data-toggle" => "tab", href: "#singles", role: "tab"}= t("rankings.nav.singles")
  %li.nav-item
    %a#teams-tab.nav-link{"aria-controls" => "teams", "aria-selected" => "false", "data-toggle" => "tab", href: "#teams", role: "tab"}= t("rankings.nav.teams")

.tab-content
  #singles.tab-pane.fade.show.active{:"aria-labelledby" => "singles-tab", role: "tabpanel"}
    .table-responsive#singles-stats-table
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th{width: "1%"} #
            %th{width: "2%"}= t("rankings.table.country")
            %th{width: "16%"}= t("rankings.table.racer")
            %th.text-center{width: "14%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.average-position")}= t("rankings.table.pp")
            %th.text-center{width: "14%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.accumulated-points")}= t("rankings.table.pa")
            %th.text-center{width: "14%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.participation-multiplier")}= t("rankings.table.mp")
            %th.po.text-center{width: "14%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.official-score")}= t("rankings.table.po")
            %th.text-center{width: "14%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.race-count")}= t("rankings.table.cc")
            %th.text-center{width: "14%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("results.container.tooltips.sessions-played")}= t("rankings.table.sp")
        %tbody
          - @racer_entries.each do |e|
            - @count += 1
            %tr
              %td.rank.text-center
                = "#{@count - 1}"
              %td.country-flag.text-center
                = render :partial => 'users/country_flag', :locals => {:country => e.country}
              %td.racer.align-middle.text-center
                = link_to e.username, user_path(e.username)
              %td.stat-number.align-middle.text-center
                = e.average_position.round(3)
              %td.stat-number.align-middle.text-center
                = e.obtained_points
              %td.stat-number.align-middle.text-center
                = e.participation_multiplier.round(3)
              %td.po.align-middle.text-center
                = e.official_score.round(2)
              %td.stat-number.align-middle.text-center
                = e.race_count
              %td.stat-number.align-middle.text-center
                = e.session_count
  #teams.tab-pane.fade.show{:"aria-labelledby" => "teams-tab", role: "tabpanel"}
    - if @team_entries.none?
      %h5.text-center.mt-2
        = t("rankings.results.no-team-results")
    - else
      .table-responsive#teams-table
        %table.table.table-bordered.table-striped
          %tbody
            - @count = 1
            - @team_entries.each do |e|
              %tr
                %td.pos{:style => "background-color: #{e.color}; color: #{invert_color(e.color, black_white=true)};"}
                  = "#{@count}°"
                %td.logo.text-center{:style => "background-color: #{e.color}; color: #{invert_color(e.color, black_white=true)};"}
                  %img{:src => e.team_logo_url, :alt => ""}
                %td.name.text-center{:style => "background-color: #{e.color}; color: #{invert_color(e.color, black_white=true)};"}
                  = e.name
                %td.score.text-center{:style => "background-color: #{e.color}; color: #{invert_color(e.color, black_white=true)};"}
                  = e.points
              - @count += 1

