- content_for :title, "Re-Volt America - Ranking #{@ranking.number}"

= render :partial => "application/subnav", :locals => { :season => @ranking.season, :rankings => @ranking.season.rankings, :ranking => @ranking }

%h2.mt-4.text-center
  = "Ranking #{@ranking.number}"

#recent
  .mt-4
    %h5.pb-2.mb-0
      %span
        = "Sessions"
        %small
          = "(#{@ranking.sessions.count})"
    - if @sessions.none?
      %h5.text-center.mt-3
        = "No sessions to display"
    - else
      .mb-3
        = paginate @sessions

      .media-group
        - @sessions.each do |session|
          %a.media.text-muted.pt-3{:href => session_path(session) }
            .session-number{:style => "background-color: #{session_color_hex(session)}"}
              .text-center
                %span.align-middle
                  = session.number
            .media-body.pb-3.mb-0.small.lh-125
              .d-flex.justify-content-between.align-items-center.w-100
                %strong.text-gray-dark
                  = "#{session_category_name(session)} #{session.teams? ? 'Team' : ''} Races"
                .session-date
                  = pretty_datetime(session.date)
              %span.d-block.session-host
                = "Hosted by #{session.host}"

%h2.mt-4.text-center
  = "Leaderboards"

%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item
    %a#singles-tab.nav-link.active{"aria-controls" => "singles", "aria-selected" => "true", "data-toggle" => "tab", href: "#singles", role: "tab"} Singles
  %li.nav-item
    %a#teams-tab.nav-link{"aria-controls" => "teams", "aria-selected" => "false", "data-toggle" => "tab", href: "#teams", role: "tab"} Teams

.tab-content
  #singles.tab-pane.fade.show.active{:"aria-labelledby" => "singles-tab", role: "tabpanel"}
    .table-responsive#singles-stats-table
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th{width: "1%"} #
            %th{width: "2%"} Country
            %th{width: "16%"} Racer
            %th.text-center{width: "14%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Average Position"} PP
            %th.text-center{width: "14%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Accumulated Points"} PA
            %th.text-center{width: "14%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Participation Multiplier"} MP
            %th.po.text-center{width: "14%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Official Score"} PO
            %th.text-center{width: "14%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Race Count"} CC
            %th.text-center{width: "14%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Sessions Played"} SP
        %tbody
          - @racer_entries.each do |e|
            - @count += 1
            %tr
              %td.rank.text-center
                = "#{@count - 1}"
              %td.country-flag.text-center
                - if e.country.nil? || e.country.eql?("??")
                  = "?"
                - else
                  %i.twf{:class => "twf-#{e.country.downcase}"}
              %td.racer.align-middle.text-center
                = link_to e.username, user_path(e.username)
              %td.stat-number.align-middle.text-center
                = e.average_position.round(3)
              %td.stat-number.align-middle.text-center
                = e.obtained_points
              %td.stat-number.align-middle.text-center
                = e.participation_multiplier.round(3)
              %td.po.align-middle.text-center
                = e.official_score.round(2)
              %td.stat-number.align-middle.text-center
                = e.race_count
              %td.stat-number.align-middle.text-center
                = e.session_count
  #teams.tab-pane.fade.show{:"aria-labelledby" => "teams-tab", role: "tabpanel"}
    - if @team_entries.none?
      %h5.text-center.mt-2
        = "No team results to display"
    - else
      .table-responsive#teams-table
        %table.table.table-bordered.table-striped
          %tbody
            - @count = 1
            - @team_entries.each do |e|
              %tr
                %td.pos{:style => "background-color: #{e.color}; color: #{invert_color(e.color, black_white=true)};"}
                  = "#{@count}°"
                %td.logo.text-center{:style => "background-color: #{e.color}; color: #{invert_color(e.color, black_white=true)};"}
                  %img{:src => e.team_logo_url, :alt => ""}
                %td.name.text-center{:style => "background-color: #{e.color}; color: #{invert_color(e.color, black_white=true)};"}
                  = e.name
                %td.score.text-center{:style => "background-color: #{e.color}; color: #{invert_color(e.color, black_white=true)};"}
                  = e.points
              - @count += 1
