- content_for :title, t("points.page-title")

%h2
  = t("points.title")

%br
%h3
  = t("points.introduction.title")

%p
  = t("points.introduction.description")

.row
  .col-sm-12.col-md-6.col-lg-6.col-xl-6
    %h4
      = t("points.introduction.normal-race")
    .points-scoring-card.points-scoring-card--normal
      .points-scoring-table
        - SYS::SCORING::NORMAL.first(10).each do |position, points|
          .points-scoring-row
            %span.points-scoring-position
              %span.points-scoring-dot
              = t("points.introduction.position-label", n: position)
            %span.points-scoring-value
              = t("points.introduction.points-label", n: points)
  .col-sm-12.col-md-6.col-lg-6.col-xl-6
    %h4
      = t("points.introduction.big-race")
    .points-scoring-card.points-scoring-card--big
      .points-scoring-table
        - SYS::SCORING::BIG.each do |position, points|
          .points-scoring-row
            %span.points-scoring-position
              %span.points-scoring-dot
              = t("points.introduction.position-label", n: position)
            %span.points-scoring-value
              = t("points.introduction.points-label", n: points)

%br
%h3
  = t("points.single-races.title")

%p
  = t("points.single-races.description")

.calculation-formulas-section
  %h4
    = t("points.single-races.example-title")
  
  %p.calculation-formula-plain
    = t("points.single-races.example-intro")
  
  .calculation-formula-card
    %p.calculation-formula-plain
      %strong
        = t("points.single-races.example-scenario")
    
    %p.calculation-formula-intro
      = t("points.single-races.steps-label")
    %p.calculation-formula-plain
      = t("points.single-races.example-steps.step1")
    %p.calculation-formula-plain
      = t("points.single-races.example-steps.step2")
    %p.calculation-formula-plain
      = t("points.single-races.example-steps.step3")
    %p.calculation-formula-plain
      = t("points.single-races.example-steps.step4")
    
    .calculation-formula-display.mt-3
      %span.calculation-formula-chip= t("points.single-races.formula.position-score")
      %span.calculation-formula-operator ×
      %span.calculation-formula-chip= t("points.single-races.formula.final-multiplier")
      %span.calculation-formula-equals =
      %span.calculation-formula-chip= t("points.single-races.formula.racer-score")
    
    .calculation-formula-display.mt-2
      %span.calculation-formula-chip= t("points.introduction.points-label", n: 12)
      %span.calculation-formula-operator ×
      %span.calculation-formula-chip 1.125
      %span.calculation-formula-equals =
      %span.calculation-formula-chip= t("points.introduction.points-label", n: 13.5)
    
    .calculation-formula-note.mt-2
      = t("points.single-races.example-result")
    
    %p.calculation-formula-plain.mt-3
      = t("points.single-races.example-summary")

%br
%h3
  = t("points.team-races.title")

%p
  = t("points.team-races.description")

.calculation-formulas-section
  %h4
    = t("points.team-races.example-title")
  
  .calculation-formula-card
    %p.calculation-formula-plain
      %strong
        = t("points.team-races.example-scenario")
    
    %p.calculation-formula-intro
      = t("points.team-races.team-members-label")
    
    .calculation-formula-display.mt-2
      %span.calculation-formula-chip= t("points.team-races.formula.racer-1")
      %span.calculation-formula-operator +
      %span.calculation-formula-chip= t("points.team-races.formula.racer-2")
      %span.calculation-formula-operator +
      %span.calculation-formula-chip= t("points.team-races.formula.racer-3")
      %span.calculation-formula-equals =
      %span.calculation-formula-chip= t("points.team-races.formula.team-pa")
    
    %p.calculation-formula-plain.mt-3
      = t("points.team-races.example-steps.player1")
    %p.calculation-formula-plain
      = t("points.team-races.example-steps.player2")
    %p.calculation-formula-plain
      = t("points.team-races.example-steps.player3")
    
    .calculation-formula-display.mt-3
      %span.calculation-formula-chip= t("points.introduction.points-label", n: 22.5)
      %span.calculation-formula-operator +
      %span.calculation-formula-chip= t("points.introduction.points-label", n: 16.2)
      %span.calculation-formula-operator +
      %span.calculation-formula-chip= t("points.introduction.points-label", n: 9)
      %span.calculation-formula-equals =
      %span.calculation-formula-chip= t("points.introduction.points-label", n: 47.7)
    
    .calculation-formula-note.mt-2
      = t("points.team-races.team-total")
    
    %p.calculation-formula-plain.mt-3
      = t("points.team-races.example-note")

%br
%h3
  = t("points.car-ratings.title")

%p
  = t("points.car-ratings.description")

.multiplier-formula-grid
  .multiplier-formula-card
    .multiplier-car-image
      = image_tag 'multiplier-dr-grudge.png', :alt => 'Dr Grudge'
    .multiplier-formula-label
      %span.multiplier-car-name Dr Grudge
      .multiplier-formula-breakdown
        %span.formula-energy
          %i.fa.fa-bolt
          = "0.7"
  .multiplier-formula-card
    .multiplier-car-image
      = image_tag 'multiplier-col-moss.png', :alt => 'Col Moss'
    .multiplier-formula-label
      %span.multiplier-car-name Col Moss
      .multiplier-formula-breakdown
        %span.formula-energy
          %i.fa.fa-bolt
          = "0.9"
  .multiplier-formula-card
    .multiplier-car-image
      = image_tag 'mulitplier-dust-mite.png', :alt => 'Dust Mite'
    .multiplier-formula-label
      %span.multiplier-car-name Dust Mite
      .multiplier-formula-breakdown
        %span.formula-energy
          %i.fa.fa-bolt
          = "1.2"

%br
%h3
  = t("points.scoring-formulas.title")

.calculation-formulas-section
  %p.calculation-formula-legend
    = t("points.scoring-formulas.legend")
  
  .calculation-formula-card
    .calculation-formula-title= t("points.scoring-formulas.singles.title")
    .calculation-formula-display
      %span.calculation-formula-chip= t("points.scoring-formulas.singles.racer-score")
      %span.calculation-formula-equals =
      %span.calculation-formula-chip= t("points.scoring-formulas.singles.position-score")
      %span.calculation-formula-operator ×
      %span.calculation-formula-chip= t("points.scoring-formulas.singles.final-multiplier")
    .calculation-formula-note= t("points.scoring-formulas.singles.note")
    %p.calculation-formula-plain
      = t("points.scoring-formulas.singles.description")
  
  .calculation-formula-card
    .calculation-formula-title= t("points.scoring-formulas.teams.title")
    .calculation-formula-display
      %span.calculation-formula-chip= t("points.scoring-formulas.teams.team-pa")
      %span.calculation-formula-equals =
      %span.calculation-formula-chip= t("points.scoring-formulas.teams.sum-of-racer-scores")
    .calculation-formula-note= t("points.scoring-formulas.teams.note")
    %p.calculation-formula-plain
      = t("points.scoring-formulas.teams.description")

  .calculation-formula-card
    .calculation-formula-title= t("points.scoring-formulas.main.title")
    .calculation-formula-display
      %span.calculation-formula-chip= t("points.scoring-formulas.main.official-score")
      %span.calculation-formula-equals =
      %span.calculation-formula-chip= t("points.scoring-formulas.main.obtained-points")
      %span.calculation-formula-operator ÷
      %span.calculation-formula-chip= t("points.scoring-formulas.main.average-position")
      %span.calculation-formula-operator ×
      %span.calculation-formula-chip= t("points.scoring-formulas.main.participation-multiplier")
      %span.calculation-formula-operator ×
      %span.calculation-formula-chip= t("points.scoring-formulas.main.normalizer-constant")
    .calculation-formula-note= t("points.scoring-formulas.main.note")
    %p.calculation-formula-plain
      = t("points.scoring-formulas.main.description")

%br
%h3
  = t("points.desktop-parser.title")

%p
  = t("points.desktop-parser.description")

.desktop-parser-preview
  %details.desktop-parser-preview-toggle
    %summary.desktop-parser-preview-summary
      %span.show-label= t("points.desktop-parser.show-image")
      %span.hide-label= t("points.desktop-parser.hide-image")
    .desktop-parser-preview-image
      = image_tag 'rva-points.png', :alt => t("points.desktop-parser.image-alt")

%h3.mt-4
  = t("points.downloads.title")

.row
  = render :partial => "downloads/download_card", :locals => {:icon => "fa-windows", :name => "RVA Points", :img_file => "rva-logo-dark.png", :download_link => DISTRIBUTE::RVA_POINTS_WIN64, :target => "_self"}
  = render :partial => "downloads/download_card", :locals => {:icon => "fa-linux", :name => "RVA Points", :img_file => "rva-logo-dark.png", :download_link => DISTRIBUTE::RVA_POINTS_LINUX, :target => "_self"}
