- content_for :title, t("points.page-title")

%h2
  = t("points.title")

%br
%h3
  = t("points.introduction.title")

%p
  = t("points.introduction.description")

.row
  .col-sm-12.col-md-6.col-lg-6.col-xl-6
    %h4
      = t("points.introduction.normal-race")
    = image_tag "points.png", :class => "img-fluid"
  .col-sm-12.col-md-6.col-lg-6.col-xl-6
    %h4
      = t("points.introduction.big-race")
    = image_tag "points-10.png", :class => "img-fluid"

%br
%h3
  = t("points.car-ratings.title")

%p
  = t("points.car-ratings.description")

.row
  .col-12.text-center
    = image_tag 'cars-multiplier-sample.png', :class => 'img-fluid'

%br
%h3
  = t("points.desktop-parser.title")

%p
  = t("points.desktop-parser.description")
= image_tag 'rva-points.png', :class => 'img-fluid'

%h3.mt-4
  = t("points.downloads.title")

.row
  = render :partial => "downloads/download_card", :locals => {:icon => "fa-windows", :name => "RVA Points", :img_file => "rva-logo-dark.png", :download_link => DISTRIBUTE::RVA_POINTS_WIN64, :target => "_self"}
  = render :partial => "downloads/download_card", :locals => {:icon => "fa-linux", :name => "RVA Points", :img_file => "rva-logo-dark.png", :download_link => DISTRIBUTE::RVA_POINTS_LINUX, :target => "_self"}
