= form_with(:model => track) do |f|
  - if track.errors.any?
    #error_explanation
      %h2
        = pluralize(track.errors.count, "error")
        prohibited this track from being saved:
      %ul
        - track.errors.each do |error|
          %li= error.full_message
  .field
    = f.label :season
    = f.select :season, Season.all.collect { |s| [s.name, s.id] }, {:prompt => "Select Season"}
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :short_name
    = f.text_field :short_name
  .field
    = f.label :difficulty
    = f.select :difficulty, SYS::TRACK::DIFFICULTIES, {:prompt => "Select Difficulty"}
  .field
    = f.label :length
    = f.number_field :length
  .field
    = f.label :folder_name
    = f.text_field :folder_name
  .actions
    = f.button
