- content_for :title, "Re-Volt America - Edit Track"

= render :partial => "application/subnav", :locals => {:track => @track}

%h2
  = "Editing Track"

= form_with(:model => @track) do |f|
  .row
    .col-md-5
      .field.form-group
        = f.label :season
        = f.select :season, Season.all.collect { |s| [s.name, s.id] }, {:prompt => "Select Season"}, :class => "form-control"
      .field.form-group
        = f.label :name
        = f.text_field :name, :class => "form-control"
      .field.form-group
        = f.label :short_name
        = f.text_field :short_name, :class => "form-control"
      .field.form-group
        = f.label :difficulty
        = f.select :difficulty, SYS::TRACK::DIFFICULTIES, {:prompt => "Select Difficulty"}, :class => "form-control"
      .field.form-group
        = f.label "Length (meters)"
        = f.number_field :length, :class => "form-control"
      .field.form-group
        = f.label :folder_name
        = f.text_field :folder_name, :class => "form-control"
      .actions
        = f.button "Update", :type => "submit", :class => "btn mb-2"
    .col-md-7
      - if @track.errors.any?
        #error-explanation
          %h5 Track could not be saved
          %ul
            - @track.errors.each do |error|
              %li
                = error.full_message
