- content_for :title, t("rva.tracks.meta.new.page-title")

%h2.mb-4
  = t("rva.tracks.import.title")

= form_with :url => import_tracks_path, :method => :post do |f|
  .row
    .col-md-5
      .field.file-input-group
        = f.file_field :file, :accept => ".csv", :class => "form-control-file"

      .field.form-group
        = f.select :season, Season.all.collect { |s| [s.name, s.id] }, {:prompt => t("misc.prompt.season")}, :class => "form-control"

      = f.button t("misc.submit.import"), :type => "submit", :"data-turbo" => false, :class => "btn"
