<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @track.name %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @track.difficulty %>
</p>

<p>
  <strong>Length:</strong>
  <%= @track.length %>
</p>

<p>
  <strong>Folder name:</strong>
  <%= @track.folder_name %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
