- content_for :title, "Re-Volt America - #{@track.name}"

- meta :title, @track.name
- meta :description, t("rva.tracks.meta.show.description")
- meta :image, @track.thumbnail_url

%h2
  = t('rva.tracks.title')

= render :partial => "application/subnav", :locals => {:season => @track.season, :track => @track}

#tracks
  .container
    .row
      .col-md-6
        %h1{style: "margin-top: 0;"}
          = @track.name
        %br
        %dl.dl-horizontal
          %dt
            = t("misc.author")
          %dd
            = @track.author
          %dt
            = t("rva.tracks.format.short-name.title")
          %dd
            = @track.short_name
          %dt
            = t("rva.tracks.format.difficulty.title")
          %dd
            = @track.difficulty_name
          %dt
            = t("rva.tracks.format.length.title")
          %dd
            = t("rva.tracks.format.length.meters", length:@track.length) #{@track.length}
          %dt{:style => "cursor: help;", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("rva.cars.features.stock-tooltip.tooltip")}
            = t("rva.shared.stock.title")
          %dt

          %dd
            = @track.stock ? t("misc.bool.true") : t("misc.bool.false")
        - if @track.season
          %i
            = t("rva.tracks.featured.description", season:@track.season.name) #{@track.season.name}

      .col-md-6
        %img.thumbnail.center-block.img-responsive{src: @track.thumbnail_url}
        - if user_is_admin?
          = link_to t("rva.tracks.admin.edit.button"), edit_track_path(@track), :class => "btn mt-2"
          = link_to t("rva.tracks.admin.delete.button"), @track, data: { turbo: true, turbo_method: :delete, turbo_confirm: t("results.admin.delete.confirmation.body") }, :class => "btn mt-2"
