- content_for :title, "Re-Volt America - #{@track.name}"

- meta :title, @track.name
- meta :description, "Part of the RVA Car Pack of the current season."
- meta :image, @track.thumbnail_url

%h2
  = t('rva.tracks.title')

= render :partial => "application/subnav", :locals => {:track => @track}

#tracks
  .container
    .row
      .col-md-6
        %h1{style: "margin-top: 0;"}
          = @track.name
        %br
        %dl.dl-horizontal
          %dt
            Short Name
          %dd
            = @track.short_name
          %dt
            Difficulty
          %dd
            = @track.difficulty_name
          %dt
            Length
          %dd
            = "#{@track.length} meters"
          %dt
            Stock?
          %dd
            = @track.stock ? "Yes" : "No"
        - if @track.season
          %i
            = "This track has been featured in RVA #{@track.season.name}"

      .col-md-6
        %img.thumbnail.center-block.img-responsive{src: @track.thumbnail_url}
        - if user_is_admin?
          = link_to 'Edit Track', edit_track_path(@track), :class => "btn mt-2"
