- content_for :title, "Re-Volt America - Repositories"
- meta :title, "RVA - Repositories"
- meta :description, "Re-Volt America's version control repositories for content packs and other software."

.container#repositories
  .page-header
    %h3
      = t("repositories.title")
      %small
        = t("repositories.small")
      - if user_is_admin?
        %a.btn.btn-sm.float-right{:href => new_repository_path}= t("repositories.new-button")
    %hr.mt-1/
  .row
    .col-md-12
      %ul.nav.nav-tabs
        - @repositories.each do |repo|
          - next unless repo.open?
          %li.nav-item
            %a{class: "nav-link #{(repo.eql? @repository) ? 'active' : ''}", href: "#{repository_path(repo)}"}= repo.title
      %br/
      .row
        .col
          %p= @repository.description
        .ml-auto.mb-1.mr-3
          %a.btn.btn-sm{:href => @repository.get_url, :target => '_blank'}= t("repositories.repository")
      .table-container
        %table.table.table-bordered
          %thead
            %tr
              %th{width: "1%"} #
              %th{width: "10%"}= t("repositories.table.revision")
              %th{width: "10%"}= t("repositories.table.author")
              %th{width: "62%"}= t("repositories.table.description")
              %th{width: "17%"}= t("repositories.table.when")
          %tbody
            - @revs.each do |r|
              %tr
                %td
                  = @count += 1
                %td
                  %a{href: "#{commit_url(r.sha)}", target: "_blank"}= r.sha_brief
                %td
                  - user = user_by_github(r.author_name)
                  - if user
                    = link_to user.username, user_path(user)
                  - else
                    = r.author_name
                %td
                  - if r.message.length > 72
                    = render_pretty(r.message)
                  - else
                    = r.message
                %td
                  = time_ago_in_words(r.date)
                  ago

      = paginate @revs
