%h2.mb-3
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  .row
    .col-md-5
      = render "devise/shared/error_messages", resource: resource
      .field.form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field.form-group
        = f.label :password
        %i (leave blank if you don't want to change it)
        %br/
        = f.password_field :password, autocomplete: "new-password", :class => "form-control"
        - if @minimum_password_length
          %br/
          %em
            = @minimum_password_length
            characters minimum
      .field.form-group
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control"
      .field.form-group
        = f.label :current_password
        %i (we need your current password to confirm your changes)
        %br/
        = f.password_field :current_password, autocomplete: "current-password", :class => "form-control"
      .actions
        = f.button "Update", :type => "submit", :"data-turbo" => false, :class => "btn mb-4"

      %h3.mb-3 Cancel my account
      %p
        Unhappy? You may cancel your account at any time.
      .actions
        = button_to "Cancel my account", registration_path(resource_name), :class => "btn", data: { confirm: "Are you sure?" }, method: :delete
