= form_with(model: racer_entry) do |form|
  - if racer_entry.errors.any?
    #error_explanation
      %h2
        = pluralize(racer_entry.errors.count, "error")
        prohibited this racer_entry from being saved:
      %ul
        - racer_entry.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :car
    = form.text_field :car
  .field
    = form.label :best_lap
    = form.text_field :best_lap
  .field
    = form.label :finished
    = form.check_box :finished
  .field
    = form.label :cheating
    = form.check_box :cheating
  .field
    = form.label :team
    = form.text_field :team
  .actions
    = form.submit
