%p#notice= notice
%h1 Racer Entries
%table
  %thead
    %tr
      %th Name
      %th Car
      %th Best lap
      %th Finished
      %th Cheating
      %th Team
      %th{:colspan => "3"}
  %tbody
    - @racer_entries.each do |racer_entry|
      %tr
        %td= racer_entry.name
        %td= racer_entry.car
        %td= racer_entry.best_lap
        %td= racer_entry.finished
        %td= racer_entry.cheating
        %td= racer_entry.team
        %td= link_to 'Show', racer_entry
        %td= link_to 'Edit', edit_racer_entry_path(racer_entry)
        %td= link_to 'Destroy', racer_entry, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Racer Entry', new_racer_entry_path
