- content_for :title, "Re-Volt America - Downloads"

%h1
  = t("downloads.title")

%hr

.container
  .text-center
    #faq-box
      %p
        = t("downloads.faq.title")
      %a{ href: faq_path }
        %button.btn.btn-sm{type: "button"}= t("downloads.faq.button")
%h2
  = t("downloads.legacy-downloads ")

.container
  .row
    = render :partial => "downloads/download_card", :locals => {:icon => "fa-folder-open", :name => "RVGL Launcher", :img_file => "rvgl_launcher.png", :download_link => DISTRIBUTE::RVGL_LAUNCHER, :target => "_blank"}
    = render :partial => "downloads/download_card", :locals => {:icon => "fa-folder-open", :name => "RVA Car Pack", :img_file => "rva-logo-dark.png", :download_link => DISTRIBUTE::RVA_CARS, :target => "_self"}
    = render :partial => "downloads/download_card", :locals => {:icon => "fa-folder-open", :name => "RVA Track Pack", :img_file => "rva-logo-dark.png", :download_link => DISTRIBUTE::RVA_TRACKS, :target => "_self"}



