= form_with(model: race) do |form|
  - if race.errors.any?
    #error_explanation
      %h2
        = pluralize(race.errors.count, "error")
        prohibited this race from being saved:
      %ul
        - race.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :track
    = form.text_field :track
  .field
    = form.label :racers_count
    = form.number_field :racers_count
  .actions
    = form.submit
