- content_for :title, "Re-Volt America - #{@user.username}"
- meta :title, @user.username

#profile
  .row
    .col-md-12
      %h1.username
        = "#{@user.username}"
        = render :partial => 'country_flag', :locals => {:country => @user.country}
      = render :partial => 'badges', locals: { user: @user }
    .col-md-4.mt-4
      .stats
        .well
          .rank
            .name
              %span{:"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("users.stats.rank.tooltip")}
                = t("users.stats.rank.title")
            .number
              - if !@rank.nil? && !@rank.eql?('-')
                %a{:href => ranking_path(current_ranking)}
                  = @rank
                  %sup
                    = ordinal_ending(@rank)
              - else
                = @rank
          .rank
            .name
              = t("users.stats.race-stats.win-rate")
            .number
              = @user.stats.race_win_rate
          .rule
          %div
            .total
              .name
                = t("users.stats.race-stats.sessions")
              .number
                = @user.stats.session_count
            .total
              .name
                = t("users.stats.race-stats.races")
              .number
                = @user.stats.race_count
            .total
              .name
                = t("users.stats.race-stats.wins")
              .number
                = @user.stats.race_wins
    .col-md-7.mt-4#recent
      .media-group
        %h6.pb-2.mb-0
          = t("users.stats.session-history.title")
        - @recent_sessions.each do |session|
          %a.media.text-muted.pt-3{:href => session_path(session) }
            .session-number{:style => "background-color: #{session_color_hex(session)}"}
              .text-center
                %span.align-middle
                  = session.number
            .media-body.pb-3.mb-0.small.lh-125
              .d-flex.justify-content-between.align-items-center.w-100
                %strong.text-gray-dark
                  = t("application.index.recent.races", category:session_category_name(session)) #{session_category_name(session)
                .session-date
                  = pretty_datetime(session.date)
              %span.d-block.session-host
                = t("application.index.recent.hosted-by", host:session.host) #{session.host}

  %br/
  %ul.nav.nav-tabs{role: "tablist"}
    %li.nav-item
      %a#general-tab.nav-link.active{"aria-controls" => "general", "aria-selected" => "true", "data-toggle" => "tab", href: "#general", role: "tab"}= t("users.tabs.title")
    %li.nav-item
      %a#stats-tab.nav-link{"aria-controls" => "stats", "aria-selected" => "false", "data-toggle" => "tab", href: "#stats", role: "tab"}= t("users.tabs.stats")
    - if user_is_mod? || user_is_admin?
      %li.nav-item
        %a#admin-tab.nav-link{"aria-controls" => "admin", "aria-selected" => "false", "data-toggle" => "tab", href: "#admin", role: "tab"}= t("users.tabs.admin")
  .tab-content
    #general.tab-pane.fade.show.active{:"aria-labelledby" => "general-tab", role: "tabpanel"}
      .row.mt-2.info
        - if @user.profile.instagram?
          .col-md-4.col-sm-6
            %h6 Instagram
            %blockquote
              %p
                %a{href: "https://instagram.com/#{@user.profile.instagram}", target: "_blank"}
                  = @user.profile.instagram
        - if @user.profile.twitter?
          .col-md-4.col-sm-6
            %h6 Twitter
            %blockquote
              %p
                %a{href: "https://twitter.com/#{@user.profile.twitter}", target: "_blank"}
                  = @user.profile.twitter
        - if @user.profile.steam?
          .col-md-4.col-sm-6
            %h6 Steam
            %blockquote
              %p
                %a{href: "https://steamcommunity.com/id/#{@user.profile.steam}", target: "_blank"}
                  = @user.profile.steam
        - if @user.profile.github?
          .col-md-4.col-sm-6
            %h6 GitHub
            %blockquote
              %p
                %a{href: "https://github.com/#{@user.profile.github}", target: "_blank"}
                  = @user.profile.github
        - if @user.profile.crowdin?
          .col-md-4.col-sm-6
            %h6 Crowdin
            %blockquote
              %p
                %a{href: "https://crowdin.com/profile/#{@user.profile.crowdin}", target: "_blank"}
                  = @user.profile.crowdin
        - if @user.profile.discord?
          .col-md-4.col-sm-6
            %h6 Discord
            %blockquote
              %p
                %b
                  = @user.profile.discord
        - if @user.profile.public_email?
          .col-md-4.col-sm-6
            %h6 Email
            %blockquote
              %p
                %b
                  = @user.profile.public_email
      .row.info
        - if @user.profile.gender?
          .col-sm-6
            %h6
              = t("devise.registrations.edit.profile.gender")
            %pre
              = @user.profile.gender
        - if @user.profile.location?
          .col-sm-6
            %h6
              = t("devise.registrations.edit.profile.location")
            %pre
              = @user.profile.location
        - if @user.profile.occupation?
          .col-sm-6
            %h6
              = t("devise.registrations.edit.profile.occupation")
            %pre
              = @user.profile.occupation
        - if @user.profile.interests?
          .col-sm-6
            %h6
              = t("devise.registrations.edit.profile.interests")
            %pre
              = @user.profile.interests
      .row.info
        .col-md-12
          .info
            %h6
              = t("devise.registrations.edit.profile.about", user: @user.username)
            - if @user.profile.about?
              %pre#about
                = render_safe(@user.profile.about)
            - else
              %pre
                = t("devise.registrations.edit.profile.about-me.nothing")
    #stats.tab-pane.fade{:"aria-labelledby" => "stats-tab", role: "tabpanel"}
      %h4.mt-4
        = t("users.stats.race-stats.title")
      %hr
      .row
        .col-md-4.col-sm-4
          %h3
            = @user.stats.race_wins
            %small
              = "#{@user.stats.race_wins == 1 ? t("users.stats.race-stats.win") : t("users.stats.race-stats.wins")}"
        .col-md-4.col-sm-4
          %h3
            = @user.stats.race_podiums
            %small
              = "#{@user.stats.race_podiums == 1 ? t("users.stats.overall-stats.session-podium") : t("users.stats.overall-stats.session-podiums")}"
        .col-md-4.col-sm-4
          %h3
            = number_to_percentage(@user.stats.race_win_rate * 100, :precision => 1)
            %small
              = t("users.stats.race-stats.win-rate")
        .col-md-4.col-sm-4
          %h3
            = @user.stats.session_count
            %small
              = "#{@user.stats.session_count == 1 ? t("users.stats.race-stats.session-played") : t("users.stats.race-stats.sessions-played")}"
        .col-md-4.col-sm-4
          %h3
            = @user.stats.race_count
            %small
              = "#{@user.stats.race_count == 1 ? t("users.stats.race-stats.race-played") : t("users.stats.race-stats.races-played")}"
      %h4.mt-4
        = t("users.stats.overall-stats.title")
      %hr
      .row
        .col-md-4.col-sm-4
          %h3
            = @user.stats.session_wins
            %small
              = "#{@user.stats.session_wins == 1 ? t("users.stats.overall-stats.session-win") : t("users.stats.overall-stats.session-wins")}"
        .col-md-4.col-sm-4
          %h3
            = @user.stats.session_podiums
            %small
              = "#{@user.stats.session_podiums == 1 ? t("users.stats.overall-stats.session-podium") : t("users.stats.overall-stats.session-podiums")}"
        .col-md-4.col-sm-4
          %h3
            = number_to_percentage(@user.stats.session_win_rate * 100, :precision => 1)
            %small
              = t("users.stats.overall-stats.session-winrate")
        .col-md-4.col-sm-4
          %h3
            = @user.stats.obtained_points
            %small
              = "#{@user.stats.obtained_points == 1 ? t("users.stats.overall-stats.obtained-point") : t("users.stats.overall-stats.obtained-points")}"
        .col-md-4.col-sm-4
          %h3
            = @user.stats.official_score.round(2)
            %small
              = t("users.stats.overall-stats.official-score")
        .col-md-4.col-sm-4
          %h3
            = @user.stats.average_position
            %small
              = t("users.stats.overall-stats.average-position")
        .col-md-4.col-sm-4
          %h3
            = number_to_percentage(@user.stats.participation_rate * 100, :precision => 1)
            %small
              = t("users.stats.overall-stats.participation")
    - if user_is_mod? || user_is_admin?
      #admin.tab-pane.fade{:"aria-labelledby" => "admin-tab", :role => "tabpanel"}
        = form_for(@user, html: { method: :put }) do |f|
          = f.fields_for :profile do |profile|
            %br/
            .field.form-group
              = f.check_box :admin
              = f.label :admin, t("users.badges.admin")
            .field.form-group
              = f.check_box :mod
              = f.label :mod, t("users.badges.mod")
            .field.form-group
              = f.check_box :organizer
              = f.label :organizer, t("users.badges.organizer")
            .field.form-group
              = f.label :team, t("results.team")
              = f.collection_select :team_id, Team.all, :id, :name, {:include_blank => true}, {:class => "form-control"}
            %h6
              = t("devise.registrations.edit.profile.gender")
            .form-group
              = profile.text_field :gender, :placeholder => t("devise.registrations.edit.profile.gender"), :autocomplete => 'gender', :class => 'form-control'
            %h6
              = t("devise.registrations.edit.profile.nationality.title")
              %small
                = t("devise.registrations.edit.profile.nationality.small")
            .field.form-group
              = f.country_select :country, {:include_blank => true}, {:class => "form-control"}
            %h6
              = t("devise.registrations.edit.profile.location")
            .form-group
              = profile.text_field :location, :placeholder => t("devise.registrations.edit.profile.location"), :autocomplete => 'location', :class => 'form-control'
            %h6
              = t("devise.registrations.edit.profile.occupation")
            .form-group
              = profile.text_field :occupation, :placeholder => t("devise.registrations.edit.profile.occupation"), :autocomplete => 'occupation', :class => 'form-control'
            %h6
              = t("devise.registrations.edit.profile.interests")
            .form-group
              = profile.text_field :interests, :placeholder => t("devise.registrations.edit.profile.interests"), :autocomplete => 'interests', :class => 'form-control'
            %h6
              = t("devise.registrations.edit.profile.public-email")
            .form-group
              = profile.text_field :public_email, :placeholder => t("devise.registrations.edit.profile.public-email"), :autocomplete => 'public_email', :class => 'form-control'
            %h6 Discord
            .form-group
              = profile.text_field :discord, :placeholder => 'Discord', :autocomplete => 'discord', :class => 'form-control'
            .form-group
              .input-group
                .input-group-prepend
                  .input-group-text.devise-form-input-prepend instagram.com/
                = profile.text_field :instagram, :autocomplete => 'instagram', :class => 'form-control'
            .form-group
              .input-group
                .input-group-prepend
                  .input-group-text twitter.com/
                = profile.text_field :twitter, :autocomplete => 'twitter', :class => 'form-control'
            .form-group
              .input-group
                .input-group-prepend
                  .input-group-text github.com/
                = profile.text_field :github, :class => 'form-control'
            .form-group
              .input-group
                .input-group-prepend
                  .input-group-text crowdin.com/profile/
                = profile.text_field :crowdin, :autocomplete => 'crowdin', :class => 'form-control'
            .form-group
              .input-group
                .input-group-prepend
                  .input-group-text steamcommunity.com/id/
                = profile.text_field :steam, :autocomplete => 'steam', :class => 'form-control'
            %h6
              = t("devise.registrations.edit.profile.about-me.title")
            .row
              .form-group
                = profile.text_area :about, :placeholder => t("devise.registrations.edit.profile.about-me.placeholder"), :autocomplete => 'about_me', :class => 'form-control'
          .btn-toolbar
            .actions
              = f.submit t("devise.registrations.edit.update-admin", user: @user.username), :class => 'btn btn-sm'
