- content_for :title, "Re-Volt America - #{@user.username}"
- meta :title, @user.username

#profile
  .row
    .col-md-12
      %h1.username
        = "#{@user.username}"
        - if !@user.country.nil? && !@user.country.eql?("??")
          %small.country-flag
            = ISO3166::Country.new(@user.country).emoji_flag
      = render :partial => 'badges', locals: { user: @user }
    .col-md-4.mt-4
      .stats
        .well
          .rank
            .name rank
            .number
              - if !@rank.nil? && !@rank.eql?('-')
                %a{:href => ranking_path(current_ranking)}
                  = @rank
                  %sup
                    = ordinal_ending(@rank)
              - else
                = @rank
          .rank
            .name win rate
            .number
              = @user.stats.race_win_rate
          .rule
          %div
            .total
              .name sessions
              .number
                = @user.stats.session_count
            .total
              .name races
              .number
                = @user.stats.race_count
            .total
              .name wins
              .number
                = @user.stats.race_wins
    .col-md-7.mt-4#recent
      .media-group
        %h6.pb-2.mb-0
          = "Session History"
        - @recent_sessions.each do |session|
          %a.media.text-muted.pt-3{:href => session_path(session) }
            .session-number{:style => "background-color: #{session_color_hex(session)}"}
              .text-center
                %span.align-middle
                  = session.number
            .media-body.pb-3.mb-0.small.lh-125
              .d-flex.justify-content-between.align-items-center.w-100
                %strong.text-gray-dark
                  = "#{session_category_name(session)} Races"
                .session-date
                  = pretty_datetime(session.date)
              %span.d-block.session-host
                = "Hosted by #{session.host}"

  %br/
  %ul.nav.nav-tabs{role: "tablist"}
    %li.nav-item
      %a#general-tab.nav-link.active{"aria-controls" => "general", "aria-selected" => "true", "data-toggle" => "tab", href: "#general", role: "tab"} General
    %li.nav-item
      %a#stats-tab.nav-link{"aria-controls" => "stats", "aria-selected" => "false", "data-toggle" => "tab", href: "#stats", role: "tab"} Stats
  .tab-content
    #general.tab-pane.fade.show.active{"aria-labelledby" => "general-tab", role: "tabpanel"}
      .row.mt-2.info
        - if @user.profile.instagram?
          .col-md-4.col-sm-6
            %h6 Instagram
            %blockquote
              %p
                %a{href: "https://instagram.com/#{@user.profile.instagram}", target: "_blank"}
                  = @user.profile.instagram
        - if @user.profile.twitter?
          .col-md-4.col-sm-6
            %h6 Twitter
            %blockquote
              %p
                %a{href: "https://twitter.com/#{@user.profile.twitter}", target: "_blank"}
                  = @user.profile.twitter
        - if @user.profile.steam?
          .col-md-4.col-sm-6
            %h6 Steam
            %blockquote
              %p
                %a{href: "https://steamcommunity.com/id/#{@user.profile.steam}", target: "_blank"}
                  = @user.profile.steam
        - if @user.profile.github?
          .col-md-4.col-sm-6
            %h6 GitHub
            %blockquote
              %p
                %a{href: "https://github.com/#{@user.profile.github}", target: "_blank"}
                  = @user.profile.github
        - if @user.profile.crowdin?
          .col-md-4.col-sm-6
            %h6 Crowdin
            %blockquote
              %p
                %a{href: "https://crowdin.com/profile/#{@user.profile.crowdin}", target: "_blank"}
                  = @user.profile.crowdin
        - if @user.profile.discord?
          .col-md-4.col-sm-6
            %h6 Discord
            %blockquote
              %p
                %b
                  = @user.profile.discord
        - if @user.profile.public_email?
          .col-md-4.col-sm-6
            %h6 Email
            %blockquote
              %p
                %b
                  = @user.profile.public_email
      .row.info
        - if @user.profile.gender?
          .col-sm-6
            %h6 Gender
            %pre
              = @user.profile.gender
        - if @user.profile.location?
          .col-sm-6
            %h6 Location
            %pre
              = @user.profile.location
        - if @user.profile.occupation?
          .col-sm-6
            %h6 Occupation
            %pre
              = @user.profile.occupation
        - if @user.profile.interests?
          .col-sm-6
            %h6 Interests
            %pre
              = @user.profile.interests
      .row.info
        .col-md-12
          .info
            %h6
              About #{@user.username}
            - if @user.profile.about?
              %pre#about
                = render_safe(@user.profile.about)
            - else
              %pre
                Nothing here yet...
    #stats.tab-pane.fade{"aria-labelledby" => "stats-tab", role: "tabpanel"}
      %h4.mt-4
        Race Stats
      %hr
      .row
        .col-md-4.col-sm-4
          %h3
            = @user.stats.race_wins
            %small
              = "#{@user.stats.race_wins == 1 ? "win" : "wins"}"
        .col-md-4.col-sm-4
          %h3
            = @user.stats.race_podiums
            %small
              = "#{@user.stats.race_podiums == 1 ? "podium" : "podiums"}"
        .col-md-4.col-sm-4
          %h3
            = @user.stats.race_win_rate
            %small
              win rate
        .col-md-4.col-sm-4
          %h3
            = @user.stats.session_count
            %small
              = "#{@user.stats.session_count == 1 ? "session played" : "sessions played"}"
        .col-md-4.col-sm-4
          %h3
            = @user.stats.race_count
            %small
              = "#{@user.stats.race_count == 1 ? "race played" : "races played"}"
      %h4.mt-4
        Overall Stats
      %hr
      .row
        .col-md-4.col-sm-4
          %h3
            = @user.stats.session_wins
            %small
              = "#{@user.stats.session_wins == 1 ? "session win" : "session wins"}"
        .col-md-4.col-sm-4
          %h3
            = @user.stats.session_podiums
            %small
              = "#{@user.stats.session_podiums == 1 ? "session podium" : "session podiums"}"
        .col-md-4.col-sm-4
          %h3
            = @user.stats.session_win_rate
            %small
              session win rate
        .col-md-4.col-sm-4
          %h3
            = @user.stats.obtained_points
            %small
              = "#{@user.stats.obtained_points == 1 ? "obtained point" : "obtained points"}"
        .col-md-4.col-sm-4
          %h3
            = @user.stats.official_score.round(2)
            %small official score
        .col-md-4.col-sm-4
          %h3
            = @user.stats.average_position
            %small average position
        .col-md-4.col-sm-4
          %h3
            = @user.stats.participation_rate
            %small participation rate
