%h2.title.mb-3 Forgot your password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  .row
    .col-md-5
      = render "devise/shared/error_messages", resource: resource
      .field.form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control"
      .actions
        = f.submit "Resend password instructions", :class => "btn mb-2"
      = render "devise/shared/links"
