= form_with(model: tournament) do |f|
  - if tournament.errors.any?
    #error_explanation
      %h2
        = pluralize(tournament.errors.count, "error")
        prohibited this tournament from being saved:
      %ul
        - tournament.errors.each do |error|
          %li= error.full_message
    .field
      = f.label :season
      = f.select :season, Season.all.collect { |s| [s.name, s.id] }, {:prompt => "Select Season"}
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :format
    = f.text_area :format
  .actions
    = f.submit
