= form_with(:model => tournament) do |f|
  .row
    .col-md-5
      .field.form-group
        = f.label :name
        = f.text_field :name, :class => "form-control"
      .field.form-group
        = f.label :date
        = f.date_field :date, :class => "form-control"
      .field.form-group
        = f.label :season
        = f.select :season, Season.all.collect { |s| [s.name, s.id] }, {:prompt => "Select Season"}, :class => "form-control"
      = f.label :tournament_banner
      .field.input-group
        = f.hidden_field :tournament_banner, :value => tournament.cached_tournament_banner_data, :id => nil
        = f.file_field :tournament_banner, :accept => "image/png, image/jpeg", :class => "form-control-file"
      .field.form-group
        = f.label :format
        = f.text_area :format, :class => "form-control"
      .actions
        = f.button "Save Tournament", :type => "submit", :"data-turbo" => false, :class => "btn"
    .col-md-7
      - if tournament.errors.any?
        #error_explanation
          %h2
            = pluralize(tournament.errors.count, "error")
            prohibited this tournament from being saved:
          %ul
            - tournament.errors.each do |error|
              %li= error.full_message
