#tournaments
  %p
    #notice
      = notice

  %h1.text-center
    = @tournament.name

  .row
    .col-12
      .tournament-banner
        = image_tag @tournament.tournament_banner_url, :class => 'tournament-banner' if @tournament.tournament_banner

  = render_pretty(@tournament.format)

%p
  %strong
    = "#{@tournament.season.name} - #{pretty_datetime(@tournament.date)}"
