= form_with(model: player_stat) do |form|
  - if player_stat.errors.any?
    #error_explanation
      %h2
        = pluralize(player_stat.errors.count, "error")
        prohibited this player_stat from being saved:
      %ul
        - player_stat.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :race_wins
    = form.number_field :race_wins
  .field
    = form.label :race_count
    = form.number_field :race_count
  .field
    = form.label :average_position
    = form.text_field :average_position
  .field
    = form.label :participation_rate
    = form.text_field :participation_rate
  .field
    = form.label :official_score
    = form.text_field :official_score
  .field
    = form.label :obtained_points
    = form.text_field :obtained_points
  .field
    = form.label :team_points
    = form.text_field :team_points
  .actions
    = form.submit
