- content_for :title, t("weekly-schedules.meta.index.page-title")
- meta :title, t("weekly-schedules.meta.index.title")
- meta :description, t("weekly-schedules.meta.index.description")

%h1.text-center
  = t('weekly-schedules.title')

#weekly-schedules
  - if user_is_staff?
    .text-center.mb-4
      = link_to t('misc.button.new'), new_weekly_schedule_path, :class => "btn btn-primary"

  - if @weekly_schedules.any?
    .schedules-grid
      - @weekly_schedules.each do |weekly_schedule|
        .schedule-card
          .schedule-card-header
            %h3
              = "Week of #{pretty_datetime(weekly_schedule.start_date)}"
          .schedule-card-body
            .schedule-dates
              %span.date-range
                = "#{pretty_datetime(weekly_schedule.start_date)} - #{pretty_datetime(weekly_schedule.start_date + 6.days)}"
          .schedule-card-footer
            = link_to t('misc.view'), weekly_schedule, :class => "btn btn-sm btn-primary"
  - else
    .alert.alert-info.text-center
      = t('weekly-schedules.no-schedules')

  .pagination-container
    = paginate @weekly_schedules
