- content_for :title, t("weekly-schedules.meta.show.page-title", :start_date => pretty_datetime(@weekly_schedule.start_date))
- meta :title, t("weekly-schedules.meta.show.title", :start_date => pretty_datetime(@weekly_schedule.start_date))
- meta :description, t("weekly-schedules.meta.show.description", :start_date => pretty_datetime(@weekly_schedule.start_date))

.schedule-show-header
  %h1
    = t("weekly-schedules.singular")
  %h3.schedule-date-range
    = "#{pretty_datetime(@weekly_schedule.start_date)} - #{pretty_datetime(@weekly_schedule.start_date + 6.days)}"
  %p.schedule-season
    = t('seasons.title')
    = ": #{@weekly_schedule.season.name}"

.schedule-controls
  = link_to t('misc.go-back'), weekly_schedules_path, :class => "btn btn-secondary"
  - if user_is_staff?
    = link_to t("weekly-schedules.controller.destroy"), @weekly_schedule, :data => { turbo: true, turbo_method: :delete }, :class => "btn btn-danger"

#weekly-schedule
  - start_date = @weekly_schedule.start_date
  .schedule-container
    - @weekly_schedule.track_lists.each do |tl|
      .schedule-day-card{:id => "tracklist-#{@table_count}"}
        .day-header
          %span.day-name
            = localized_weekday(start_date.wday)
          %span.category-badge{:class => "category-#{tl.category}"}
            = localized_category_name(tl.category)

        .day-body
          .table-responsive
            %table.track-list-table{:id => "tracklist-#{@table_count}"}
              %thead
                %tr
                  %th
                    = t('weekly-schedules.track-list.track')
                  %th
                    = t('weekly-schedules.track-list.type')
                  %th
                    = t('weekly-schedules.track-list.laps')
              %tbody
                - tl.track_list_entries.each do |tle|
                  %tr.track-entry
                    %td.track-name
                      = tle.track_name
                    %td.track-type
                      - if tle.stock
                        %span.badge.badge-stock
                          = t('misc.stock')
                      - else
                        - if tle.lego
                          %span.badge.badge-lego
                            = t('misc.lego')
                        - else
                          %span.badge.badge-custom
                            = t('misc.custom')
                    %td.track-laps
                      = tle.lap_count

        .day-footer{:data => { :html2canvas_ignore => true }}
          %button.btn.btn-sm.btn-outline-secondary{:id => "dl-png-#{@table_count}", :class => "btn-download"}
            = t('misc.download-as-png')

        - start_date = start_date + 1.day
        - @table_count += 1
