- content_for :title, t("weekly-schedules.meta.show.page-title", :start_date => pretty_datetime(@weekly_schedule.start_date))
- meta :title, t("weekly-schedules.meta.show.title", :start_date => pretty_datetime(@weekly_schedule.start_date))
- meta :description, t("weekly-schedules.meta.show.description", :start_date => pretty_datetime(@weekly_schedule.start_date))

.schedule-show-header
  %h1
    = t("weekly-schedules.singular")
  %h3.schedule-date-range
    = "#{pretty_datetime(@weekly_schedule.start_date)} - #{pretty_datetime(@weekly_schedule.start_date + 6.days)}"
  %p.schedule-season
    = "#{t('seasons.title')}: #{@weekly_schedule.season.name}"

.schedule-controls
  = link_to t('misc.go-back'), weekly_schedules_path, :class => "btn btn-secondary"

#weekly-schedule
  - start_date = @weekly_schedule.start_date
  .schedule-container
    - @weekly_schedule.track_lists.each do |tl|
      .schedule-day-card{:id => "tracklist-#{@table_count}"}
        .day-header
          %span.day-name
            = localized_weekday(start_date.wday)
          = link_to car_category_path(tl.category), :class => "category-badge category-badge-link category-#{tl.category}" do
            = localized_category_name(tl.category)

        .day-body
          .table-responsive
            %table.track-list-table
              %thead
                %tr
                  %th
                    = t('weekly-schedules.track-list.track')
                  %th
                    = t('weekly-schedules.track-list.type')
                  %th
                    = t('weekly-schedules.track-list.laps')
              %tbody
                - tl.track_list_entries.each do |tle|
                  %tr.track-entry
                    %td.track-name
                      = tle.track_name
                    %td.track-type
                      - if tle.stock
                        %span.badge.badge-stock
                          = t('misc.stock')
                      - else
                        - if tle.lego
                          %span.badge.badge-lego
                            = t('misc.lego')
                        - else
                          %span.badge.badge-custom
                            = t('misc.custom')
                    %td.track-laps
                      = tle.lap_count

        .day-footer{:data => { :html2canvas_ignore => true }}
          %button.btn.btn-sm.btn-outline-secondary{:id => "dl-png-#{@table_count}", :class => "btn-download"}
            = t('misc.download-as-png')

        - start_date = start_date + 1.day
        - @table_count += 1

- if user_is_staff?
  .schedule-actions.text-center.mt-4
    %button.btn.btn-danger{:type => "button", :data => { :toggle => "modal", :target => "#delete-weekly-schedule-modal" }}
      = t("weekly-schedules.controller.destroy")

  #delete-weekly-schedule-modal.modal.fade{:tabindex => "-1", :role => "dialog", :aria => { :labelledby => "delete-weekly-schedule-title", :hidden => "true" }}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %h5#delete-weekly-schedule-title.modal-title
            Delete weekly schedule?
          %button.close{:type => "button", :data => { :dismiss => "modal" }, :aria => { :label => "Close" }}
            %span{:aria => { :hidden => "true" }} ×
        .modal-body
          This action cannot be undone.
        .modal-footer
          %button.btn.btn-secondary{:type => "button", :data => { :dismiss => "modal" }}
            Cancel
          = link_to t("weekly-schedules.controller.destroy"), @weekly_schedule, :data => { turbo: true, turbo_method: :delete }, :class => "btn btn-danger"
