- content_for :title, "Re-Volt America - Assets"

.row.text-center
  .col-12
    %h1
      %b
        = t('assets.title')
#assets.container
  .row.text-center
    .col-md-12
      %p
        = t('assets.subtitle_html')
    .col-md-12
      = image_tag "rva-logo-transparent.png", :height => "350"
    .col-md-12
      %a.btn{:href => "https://distribute.rva.lat/assets/rva-mark.zip"}
        = t('misc.download')

  #guidelines.row
    .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-12
      .pb-2.mt-4.mb-2
        %h3
          %b
            = t('assets.allowed.title')
        .row
          .col-md-12
            %ul.list-unstyled
              %li
                %i.fa.fa-check.text-success{:"aria-hidden" => true}
                = t('assets.allowed.1')
              %li
                %i.fa.fa-check.text-success{:"aria-hidden" => true}
                = t('assets.allowed.2')
              %li
                %i.fa.fa-check.text-success{:"aria-hidden" => true}
                = t('assets.allowed.3')
    .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-12
      .pb-2.mt-4.mb-2
        %h3
          %b
            = t('assets.prohibited.title')
        .row
          .col-md-12
            %ul.list-unstyled
              %li
                %i.fa.fa-times.text-danger{:"aria-hidden" => true}
                = t('assets.prohibited.1')
              %li
                %i.fa.fa-times.text-danger{:"aria-hidden" => true}
                = t('assets.prohibited.2')
              %li
                %i.fa.fa-times.text-danger{:"aria-hidden" => true}
                = t('assets.prohibited.3')
              %li
                %i.fa.fa-times.text-danger{:"aria-hidden" => true}
                = t('assets.prohibited.4')
              %li
                %i.fa.fa-times.text-danger{:"aria-hidden" => true}
                = t('assets.prohibited.5')
    .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-12
      .pb-2.mt-4.mb-2
        %h3
          %b
            = t('assets.contact.title')
        .row
          .col-md-12
            %ul.list-unstyled
              %li
                = t('assets.contact.1')
              %li
                = t('assets.contact.2')
    .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-12
      .pb-2.mt-4.mb-2
        %h3
          %b
            = t('assets.naming.title')
        .row
          .col-md-12
            %ul.list-unstyled
              %li
                = t('assets.naming.1')
    .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-12
      .pb-2.mt-4.mb-2
        %h3
          %b
            = t('assets.attribution.title')
        .row
          .col-md-12
            %ul.list-unstyled
              %li
                = t('assets.attribution.1')
              %li
                = t('assets.attribution.2_html')
