- content_for :title, "Re-Volt America - FAQ"

%h2.mb-3
  %i.fa.fa-comment{:"aria-hidden" => true}
  %b
    = t("faq.title")

%p
  = t("faq.description")

#faq

  %hr
  %h6
    = t("faq.section-1")
  .container
    .card
      .card-header#faqhead1
        %a.btn.btn-header-link{href: "#", "data-toggle": "collapse", "data-target": "#faq1", "aria-expanded": "true", "aria-controls": "faq1"}= t("faq.accordion.download.title")
      #faq1.collapse{"aria-labelledby" => "faqhead1", "data-parent" => ""}
        .card-body
          %h4
            = t("faq.accordion.generics.recommended-way")
          %p
            = t("faq.accordion.download.recommended-way.description-html")
          %h4
            = t("faq.accordion.generics.classic-way")
          %p
            = t("faq.accordion.download.classic-way.description-html")
          %h4
            = t("faq.accordion.generics.mobile-players")
          %p
            = t("faq.accordion.download.mobile-players.description-html")
          %h4
            = t("faq.accordion.download.steam-revolt.title")
          %p
            = t("faq.accordion.download.steam-revolt.description-html")
    .card
      .card-header#faqhead2
        %a.btn.btn-header-link.collapsed{href: "#", "data-toggle": "collapse", "data-target": "#faq2", "aria-expanded": "true", "aria-controls": "faq2"}= t("faq.accordion.install.title")
      #faq2.collapse{"aria-labelledby" => "faqhead2", "data-parent" => ""}
        .card-body
          %h4
            = t("faq.accordion.generics.recommended-way")
          %p
            = t("faq.accordion.install.recommended-way.description-html")
          %h4
            = t("faq.accordion.generics.classic-way")
          %p
            = t("faq.accordion.install.classic-way.description-html")
          %h4
            = t("faq.accordion.generics.mobile-players")
          %p
            = t("faq.accordion.install.mobile-players.description-html")
  %h6.mt-3
    = t("faq.section-2")
  .container
    .card
      .card-header#faqhead3
        %a.btn.btn-header-link.collapsed{href: "#", "data-toggle": "collapse", "data-target": "#faq3", "aria-expanded": "true", "aria-controls": "faq3"}= t("faq.accordion.play-online.title")
      #faq3.collapse{"aria-labelledby" => "faqhead3", "data-parent" => ""}
        .card-body
          %p
            = t("faq.accordion.play-online.description-html")
            %h5
              = t("faq.accordion.play-online.reminder.title")
            %ul
              %li
                = t("faq.accordion.play-online.reminder.li-1")
              %li
                = t("faq.accordion.play-online.reminder.li-2-html")
              %li
                = t("faq.accordion.play-online.reminder.li-3")
    .card
      .card-header#faqhead4
        %a.btn.btn-header-link{href: "#", "data-toggle": "collapse", "data-target": "#faq4", "aria-expanded": "true", "aria-controls": "faq4"}= t("faq.accordion.password-sessions.title")
      #faq4.collapse{"aria-labelledby" => "faqhead4", "data-parent" => ""}
        .card-body
          %p
            = t("faq.accordion.password-sessions.description")
          .parameters
            %b -lobby IP -pass &lt;password&gt;
          %h5 RVGL Launcher
          %p
            = t("faq.accordion.password-sessions.launcher.description")
          = image_tag "faq/launcher.png", :class => "img-fluid rounded mx-auto"
          %h5
            = t("faq.accordion.password-sessions.shortcut.title")
          %p
            = t("faq.accordion.password-sessions.shortcut.description")
          = image_tag "faq/shortcut.png", :class => "img-fluid rounded mx-auto"
          %h5 Android
          %ol
            %li
              = t("faq.accordion.password-sessions.android.li-1-html")
            %li
              = t("faq.accordion.password-sessions.android.li-2-html")
          = image_tag "faq/android.png", :class => "img-fluid rounded mx-auto"
    .card
      .card-header#faqhead5
        %a.btn.btn-header-link{href: "#", "data-toggle": "collapse", "data-target": "#faq5", "aria-expanded": "true", "aria-controls": "faq5"}= t("faq.accordion.rankings.title")
      #faq5.collapse{"aria-labelledby" => "faqhead5", "data-parent" => ""}
        .card-body
          %h4
            = t("faq.accordion.rankings.seasons.title")
          %p
            = t("faq.accordion.rankings.seasons.description")
          = image_tag "faq/schedule.png", :class => "img-fluid rounded mx-auto d-block"
          %h4
            = t("faq.accordion.rankings.punctuation.title")
          %p
            = t("faq.accordion.rankings.punctuation.description-1")
          %ul
            %li
              = t("faq.accordion.rankings.punctuation.list.li-1")
            %li
              = t("faq.accordion.rankings.punctuation.list.li-2")
            %li
              = t("faq.accordion.rankings.punctuation.list.li-3")
          %p
            = t("faq.accordion.rankings.punctuation.description-2-html")

