- content_for :title, "Re-Volt America - FAQ"

%h2
  %i.fa.fa-bookmark{:"aria-hidden" => true}
  %b
    = "FAQ"

#faq.container
  .pb-2-mt-4.mb-2.border-bottom
    %h3
      = "How to Download Re-Volt?"
  .row
    .col-md-12
      %h4
        = "Recommended way: RVGL Launcher"
      %p
        = "With this program you can download and manage custom content for the game with just a few clicks. Go to the following link to download it: https://www.revoltworld.net/dl/rvgllauncher/"
        %br
          = "When you open the launcher for the first time, you will be able to select the folder where the game will be installed and the \"Game Preset\", in this option we recommend that you select Original."
      %h4
        = "Classic way"
      %p
        = "Enter the following link and choose the version of the game for your operating system (Windows, Android, Linux or macOS) https://re-volt.io/downloads/game."
        %br
          = "When the download is finished, unzip the file in the folder of your choice and run rvgl to start playing."
      %h4
        = "Way for mobile phones"
      %p
        = "In the case of Android, when you try to run the game installer (click this link to download https://distribute.re-volt.io/releases/rvgl_full_android_original.apk) you need to grant permissions to install external applications."
        %br
          = "After accepting the permission and installing the game the app can be opened normally from the app drawer of your phone."
      %p
        = "⚠️ The Steam version of Re-Volt is not compatible to play online races, since it is an obsolete version. For this and other reasons we do not recommend its purchase."
  .pb-2-mt-4.mb-2.border-bottom
    %h3
      = "How to install RVA Packs?"
  .row
    .col-md-12
      %h4
        = "Recommended way: RVGL Launcher"
      %p
        = "In the Packs tab check the rva_cars and rva_tracks options at the bottom of the list, then click the Install Packages button in the lower right corner to start downloading and installing them."
      %h4
        = "Classic way"
      %p
        = "Enter the following link and download RVA Car Pack and RVA Track Pack https://rva.lat/downloads."
        %br
          = "Open the folder where you have RVGL installed and unzip the newly downloaded files there."
      %h4
        = "Way for mobile phones"
      %p
        = "Perform the steps of the classic method, only that on Android you need a file manager capable of decompressing ZIP files, you can search in the Play Store applications such as ZArchiver, RAR or others if your phone does not incorporate a file manager."
        %br
          = "Inside the file manager go to the Downloads folder (or wherever you have downloaded the packs) and unzip them in the RVGL folder that is in the internal memory."
  .pb-2-mt-4.mb-2.border-bottom
    %h3
      = "How to play Online?"
  .row
    .col-md-12
      %p
        = "In Re-Volt America we open a room every day at 23:00 UTC and are announced in the lobby-rva channel, use the following link to see what time it would be where you live https://dateful.com/convert/utc?t=11p.m.."
        %br
          = "Before joining our rooms it is necessary that you have our content packs"
        %br
          = "When there is an open room to join and enter to play a message will appear in lobby-rva as follows, for example: Lobby is UP! - IP: gforce-rva.ddns.net"
        %br
          = "Open RVGL, go to Play Multiplayer and in Join Game copy and paste the IP address. This is an example IP, each Organizer will have a different IP address."

