- content_for :title, "Re-Volt America - FAQ"

%h2.mb-3
  %i.fa.fa-comment{:"aria-hidden" => true}
  %b
    = t("faq.title")

%p
  = t("faq.description")

%hr

.container
  #faq
    .card
      .card-header#faqhead1
        %a.btn.btn-header-link{href: "#", "data-toggle": "collapse", "data-target": "#faq1", "aria-expanded": "true", "aria-controls": "faq1"}= t("faq.accordion.download.title")
      #faq1.collapse{"aria-labelledby" => "faqhead1", "data-parent" => "#faq"}
        .card-body
          %h4
            = t("faq.accordion.generics.recommended-way")
          %p
            = t("faq.accordion.download.recommended-way.description-html")
          %h4
            = t("faq.accordion.generics.classic-way")
          %p
            = t("faq.accordion.download.classic-way.description-html")
          %h4
            = t("faq.accordion.generics.mobile-players")
          %p
            = t("faq.accordion.download.mobile-players.description-html")
          %h4
            = t("faq.accordion.download.steam-revolt.title")
          %p
            = t("faq.accordion.download.steam-revolt.description-html")
    .card
      .card-header#faqhead2
        %a.btn.btn-header-link.collapsed{href: "#", "data-toggle": "collapse", "data-target": "#faq2", "aria-expanded": "true", "aria-controls": "faq2"}= t("faq.accordion.install.title")
      #faq2.collapse{"aria-labelledby" => "faqhead2", "data-parent" => "#faq"}
        .card-body
          %h4
            = t("faq.accordion.generics.recommended-way")
          %p
            = t("faq.accordion.install.recommended-way.description-html")
          %h4
            = t("faq.accordion.generics.classic-way")
          %p
            = t("faq.accordion.install.classic-way.description-html")
          %h4
            = t("faq.accordion.generics.mobile-players")
          %p
            = t("faq.accordion.install.mobile-players.description-html")
    .card
      .card-header#faqhead3
        %a.btn.btn-header-link.collapsed{href: "#", "data-toggle": "collapse", "data-target": "#faq3", "aria-expanded": "true", "aria-controls": "faq3"}= t("faq.accordion.play-online.title")
      #faq3.collapse{"aria-labelledby" => "faqhead3", "data-parent" => "#faq"}
        .card-body
          %p
            = t("faq.accordion.play-online.description-html")
            %h5
              = t("faq.accordion.play-online.reminder.title")
            %ul
              %li
                = t("faq.accordion.play-online.reminder.li-1")
              %li
                = t("faq.accordion.play-online.reminder.li-2-html")
              %li
                = t("faq.accordion.play-online.reminder.li-3")
