= form_with(:model => car) do |f|
  - if car.errors.any?
    #error-explanation
      %h2
        = pluralize(car.errors.count, "error")
        prohibited this car from being saved:
      %ul
        - car.errors.each do |error|
          %li= error.full_message
  .field
    = f.label :season
    = f.select :season, Season.all.collect { |s| [s.name, s.id] }, {:prompt => "Select Season"}
  .field
    = f.label :category
    = f.select :category, SYS::CATEGORY::RVGL_NUMBERS_MAP, {:prompt => "Select Category"}
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :speed
    = f.text_field :speed
  .field
    = f.label :accel
    = f.text_field :accel
  .field
    = f.label :weight
    = f.text_field :weight
  .field
    = f.label :multiplier
    = f.text_field :multiplier
  .field
    = f.label :stock
    = f.check_box :stock
  .field
    = f.label :folder_name
    = f.text_field :folder_name
  .actions
    = f.button
