- content_for :title, "Re-Volt America - Cars"
- meta :title, "RVA Cars"
- meta :description, "The cars in the RVA Car Pack of the current season."

%h2
  = t('rva.cars.title')

= render :partial => "application/subnav"

#cars
  .row
    .col-xl-4.col-lg-6.col-md-12.col-sm-12.col-12
      .car-category-thumbnail.text-center
        %a{href: cars_rookie_path }
          .car-category-thumbnail-overlay
            = image_tag "cars/rookie.jpg", :alt => "", :class => "img-fluid car-category-img"
          .car-category-caption
            %p
              = category_name(SYS::CATEGORY::ROOKIE)
    .col-xl-4.col-lg-6.col-md-12.col-sm-12.col-12
      .car-category-thumbnail.text-center
        %a{href: cars_amateur_path }
          .car-category-thumbnail-overlay
            = image_tag "cars/amateur.jpg", :alt => "", :class => "img-fluid car-category-img"
          .car-category-caption
            %p
              = category_name(SYS::CATEGORY::AMATEUR)
    .col-xl-4.col-lg-6.col-md-12.col-sm-12.col-12
      .car-category-thumbnail.text-center
        %a{href: cars_advanced_path }
          .car-category-thumbnail-overlay
            = image_tag "cars/rookie.jpg", :alt => "", :class => "img-fluid car-category-img"
          .car-category-caption
            %p
              = category_name(SYS::CATEGORY::ADVANCED)
    .col-xl-4.col-lg-6.col-md-12.col-sm-12.col-12
      .car-category-thumbnail.text-center
        %a{href: cars_semipro_path }
          .car-category-thumbnail-overlay
            = image_tag "cars/semipro.jpg", :alt => "", :class => "img-fluid car-category-img"
          .car-category-caption
            %p
              = category_name(SYS::CATEGORY::SEMI_PRO)
    .col-xl-4.col-lg-6.col-md-12.col-sm-12.col-12
      .car-category-thumbnail.text-center
        %a{href: cars_pro_path }
          .car-category-thumbnail-overlay
            = image_tag "cars/pro.jpg", :alt => "", :class => "img-fluid car-category-img"
          .car-category-caption
            %p
              = category_name(SYS::CATEGORY::PRO)
    .col-xl-4.col-lg-6.col-md-12.col-sm-12.col-12
      .car-category-thumbnail.text-center
        %a{href: cars_superpro_path }
          .car-category-thumbnail-overlay
            = image_tag "cars/superpro.jpg", :alt => "", :class => "img-fluid car-category-img"
          .car-category-caption
            %p
              = category_name(SYS::CATEGORY::SUPER_PRO)
