- content_for :title, "Re-Volt America - #{@car.name}"

- meta :title, @car.name
- meta :description, "Part of the RVA Car Pack of the current season."
- meta :image, @car.thumbnail_url

%h2.mb-4
  = t('rva.cars.title')

= render :partial => "application/subnav", :locals => {:season => @car.season, :category => @car.category, :car => @car}

#tracks
  .container
    .row
      .col-md-6
        %h1{style: "margin-top: 0;"}
          = @car.name
        %br
        %dl.dl-horizontal
          %dt
            = t("rva.cars.features.speed")
          %dd
            = "#{@car.speed} km/h"
          %dt
            = t("rva.cars.features.acceleration")
          %dd
            = "#{@car.accel} ms²"
          %dt
            = t("rva.cars.features.weight")
          %dd
            = "#{@car.weight} Kg"
          %dt
            = t("rva.cars.features.multiplier")
          %dd
            = @car.multiplier
          %dt
            = t("rva.cars.features.category")
          %dd
            = category_name(@car.category)
          %dt{:style => "cursor: help;", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => t("rva.cars.features.stock-tooltip.tooltip")}
            = t("rva.shared.stock.title")
          %dd
            = "#{@car.stock? ? t("rva.shared.stock.true") : t("rva.shared.stock.false")}"
        - if @car.season
          %i
            = t("rva.cars.features.featured-session", season:@car.season.name) #{@car.season.name}

      .col-md-6
        %img.thumbnail.center-block.img-responsive{src: @car.thumbnail_url}
        - if user_is_admin?
          = link_to t("rva.cars.edit.button"), edit_car_path(@car), :class => "btn mt-2"
