- content_for :title, "Re-Volt America - #{@car.name}"

- meta :title, @car.name
- meta :description, "Part of the RVA Car Pack of the current season."
- meta :image, @car.thumbnail_url

%h2.mb-4
  = t('rva.cars.title')

= render :partial => "application/subnav", :locals => {:car => @car, :category => @car.category}

#tracks
  .container
    .row
      .col-md-6
        %h1{style: "margin-top: 0;"}
          = @car.name
        %br
        %dl.dl-horizontal
          %dt
            Speed
          %dd
            = "#{@car.speed} km/h"
          %dt
            Acceleration
          %dd
            = "#{@car.accel} ms²"
          %dt
            Weight
          %dd
            = "#{@car.weight} Kg"
          %dt
            Multiplier
          %dd
            = @car.multiplier
          %dt
            Category
          %dd
            = category_name(@car.category)
          %dt
            Stock?
          %dd
            = "#{@car.stock? ? "Yes" : "No"}"
        - if @car.season
          %i
            = "This car has been featured in RVA #{@car.season.name}"

      .col-md-6
        %img.thumbnail.center-block.img-responsive{src: @car.thumbnail_url}
        - if user_is_admin?
          = link_to 'Edit Car', edit_car_path(@car), :class => "btn mt-2"
