- content_for :title, "Re-Volt America - #{t("classes.super-pro")} Cars"
- meta :title, "#{t("classes.super-pro")} Cars - #{ORG::NAME_SHORT}"
- meta :description, "Cars of the Super-Pro class. These are the cars from the Super-Pro class required to race online on RVA!"
- meta :image, "https://rva.lat/assets/img/og/super-pro.png"

#car-cards-display
  %h2
    = "#{t('rva.cars.title')} - #{t("classes.super-pro")}"

  = render :partial => "application/subnav", :locals => {:season => current_season, :category => SYS::CATEGORY::SUPER_PRO}

  .sticky-top.search-bar
    .row
      .col-xl-11.col-lg-10.col-md-10.col-xs-9.col-8.sticky-top
        %input#input.form-control{placeholder: t("rva.cars.shared.placeholder"), type: "text"}/
      .col-xl-1.col-lg-2.col-md-2.col-xs-3.col-4
        = render :partial => "car_category_selector"

  - if @cars.none?
    %h5.text-center
      = t("rva.cars.shared.no-cars")
  - else
    .row
      - @cars.each do |car|
        = render :partial => "car_card", :locals => { :car => car }
