%p
  = t("email.changed.greeting", email:@email) #{@email}!
- if @resource.try(:unconfirmed_email?)
  %p
    = t("email.changed.changing", email:@resource.unconfirmed_email) #{@resource.unconfirmed_email}.
- else
  %p
    = t("email.changed.changed", email:@resource.email) #{@resource.email}.

