%p
  = t("password.reset.greeting", email:@resource.email) #{@resource.email}!
%p
  = t("password.reset.advise")
%p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)
%p
  = t("password.reset.advise2")
%p
  = t("password.reset.advise3")
