- content_for :title, t("rules.page-title")

%h2.mb-3
  %i.fa.fa-bookmark{:"aria-hidden" => true}
  %b
    = t('rules.title')

#rules.container
  .pb-2-mt-4.mb-2.border-bottom
    %h3
      = t('rules.sections.a.title')
  .row
    .col-md-12
      %ol
        %li
          = t('rules.sections.a.1')
        %li
          = t('rules.sections.a.2_html')
        %li
          = t('rules.sections.a.3_html')
        %li
          = t('rules.sections.a.4')
        %li
          = t('rules.sections.a.5')
  .pb-2-mt-4.mb-2.border-bottom
    %h3
      = t('rules.sections.b.title')
  .row
    .col-md-12
      %ol
        %li
          = t('rules.sections.b.1.title')
        %ul
          %li
            = t('rules.sections.b.1.bullet1')
          %li
            = t('rules.sections.b.1.bullet2')
          %li
            = t('rules.sections.b.1.bullet3')
  .pb-2-mt-4.mb-2.border-bottom
    %h3
      = t('rules.sections.c.title')
  .row
    .col-md-12
      %ol
        %li
          = t('rules.sections.c.1')
        %li
          = t('rules.sections.c.2.title')
        %ul
          %li
            = t('rules.sections.c.2.bullet1_html')
          %li
            = t('rules.sections.c.2.bullet2_html')
          %li
            = t('rules.sections.c.2.bullet3_html')
          %li
            = t('rules.sections.c.2.bullet4_html')
          %li
            = t('rules.sections.c.2.bullet5_html')
        %li
          = t('rules.sections.c.3_html')
        %li
          = t('rules.sections.c.4_html')
        %li
          = t('rules.sections.c.5_html')
        %li
          = t('rules.sections.c.6')
        %li
          = t('rules.sections.c.7.title')
        %ul
          %li
            = t('rules.sections.c.7.bullet1')
        %li
          = t('rules.sections.c.8_html')
  .pb-2-mt-4.mb-2.border-bottom
    %h3
      = t('rules.sections.d.title')
  .row
    .col-md-12
      %ol
        %li
          = t('rules.sections.d.1_html')
        %li
          = t('rules.sections.d.2')
        %li
          = t('rules.sections.d.3')
        %li
          = t('rules.sections.d.4_html')
  .pb-2-mt-4.mb-2.border-bottom
    %h3
      = t('rules.sections.e.title')
  .row
    .col-md-12
      %ol
        %li
          = t('rules.sections.e.1_html')
        %li
          = t('rules.sections.e.2_html')
        %li
          = t('rules.sections.e.3')
        %li
          = t('rules.sections.e.4')
  .row
    .col-md-12
      %p.clarification-index
        %small.text-success
          = t('rules.precisions.1.term')
        = t('rules.precisions.1.precision')
      %p.clarification-index
        %small.text-success
          = t('rules.precisions.2.term')
        = t('rules.precisions.2.precision')
