%footer
  %section
    %div.row
      %div.col-xl-3.col-lg-3.col-md-3.col-sm-6.col-xs-6.col-6
        %ul.list-unstyled
          %li.heading
            = t('footer.policies.title')
          %li
            = link_to t('footer.policies.rules'), rules_path
          %li
            = link_to t('footer.policies.terms'), terms_path
          %li
            = link_to t('footer.policies.privacy'), privacy_path
      %div.col-xl-3.col-lg-3.col-md-3.col-sm-6.col-xs-6.col-6
        %ul.list-unstyled
          %li.heading
            = t('footer.organization.title')
          %li
            = link_to "Staff Listing", staff_path
          %li
            = link_to t('footer.organization.logs'), web_repo_or_first
          %li
            = link_to t('footer.organization.bugs'), ORG::GIT_ISSUES_URL, :target => "_blank"
          %li
            = link_to "Frequently Asked Questions", faq_path
      %div.col-xl-3.col-lg-3.col-md-3.col-sm-6.col-xs-6.col-6
        %ul.list-unstyled
          %li.heading
            = t('footer.trademark.title')
          %li
            = link_to t('footer.trademark.assets'), logos_path
          %li
            = link_to t('footer.organization.sponsor'), ORG::SPONSOR_URL, :target => "_blank"
      %div.col-xl-3.col-lg-3.col-md-3.col-sm-6.col-xs-6.col-6
        %ul.list-unstyled.follow-us
          %li.heading
            = t('footer.social.title')
          %li
            %a{:href => ORG::DISCORD_URL, :target => "_blank"}
              = image_tag "discord-logo-color.svg"
              = t('footer.social.discord')
          %li
            %a{:href => ORG::GIT, :target => "_blank"}
              = image_tag "github-logo.png"
              = t('footer.social.github')
          %li
            %a{:href => ORG::CROWDIN_URL, :target => "_blank"}
              = image_tag "crowdin-dark-symbol.svg"
              = t('footer.social.crowdin')
    %div.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12.col-12
      %div.copy
        %p
          &copy 2017-#{Time.now.year} #{ORG::NAME}
