%nav.navbar.navbar-expand-md.navbar-dark.navbar-default.bg-obscure
  %div.container
    %a.navbar-brand{:href => "/"}
      = image_tag "rva-logo-dark.png", :height => "45", :width => "45", :style => "border-radius: 50px;"

    %button.navbar-toggler{:type => "button", :"data-toggle" => "collapse", :"data-target" => "#main-navbar", :"aria-controls" => "main-navbar", :"aria-expanded" => "false", :"aria-label" => "Toggle navigation"}
      %span.navbar-toggler-icon

    %div.collapse.navbar-collapse{:id => "main-navbar"}
      %ul.navbar-nav.mr-auto
        %li.nav-item
          %a.nav-link{:href => play_path}
            %i.fa.fa-play{:"aria-hidden" => "true"}
            = t('nav.play')
        %li.nav-item
          %a.nav-link{:href => rules_path}
            %i.fa.fa-bookmark{:"aria-hidden" => "true"}
            = t('nav.rules')
        %li.nav-item
          %a.nav-link{:href => downloads_path}
            %i.fa.fa-download{:"aria-hidden" => "true"}
            = t('nav.downloads')
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{:href => "", :"data-toggle" => "dropdown", :"aria-haspopup" => "true", :"aria-expanded" => "false"}
            %i.fa.fa-tags{:"aria-hidden" => true}
            = t('nav.rva.title')
          %div.dropdown-menu{:"aria-labelledby" => "dropdown01"}
            %a.dropdown-item{:href => tracks_path}
              %i.fa.fa-map{:"aria-hidden" => "true"}
              = t('nav.rva.tracks')
            %a.dropdown-item{:href => cars_path}
              %i.fa.fa-car{:"aria-hidden" => "true"}
              = t('nav.rva.cars')
            %a.dropdown-item{:href => points_path}
              %i.fa.fa-calculator{:"aria-hidden" => "true"}
              = t('nav.rva.points')
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{:href => "", :"data-toggle" => "dropdown", :"aria-haspopup" => "true", :"aria-expanded" => "false"}
            %i.fa.fa-user{:"aria-hidden" => true}
            = t('nav.players.title')
          %div.dropdown-menu{:"aria-labelledby" => "dropdown02"}
            %a.dropdown-item{:href => stats_path}
              %i.fa.fa-chart-bar{:"aria-hidden" => "true"}
              = t('nav.players.stats')
            %a.dropdown-item{:href => staff_path}
              %i.fa.fa-user-md{:"aria-hidden" => "true"}
              = t('nav.players.staff')
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{:href => "", :"data-toggle" => "dropdown", :"aria-haspopup" => "true", :"aria-expanded" => "false"}
            %i.fa.fa-trophy{:"aria-hidden" => true}
            = t('nav.league.title')
          %div.dropdown-menu{:"aria-labelledby" => "dropdown03"}
            %a.dropdown-item{:href => teams_path}
              %i.fa.fa-users
              = t('nav.league.teams')
            %a.dropdown-item{:href => tournaments_path}
              %i.fa.fa-flag
              = t('nav.league.tournaments')
      %ul.navbar-nav
        %li.dropdown
          %a.nav-link.dropdown-toggle{:id => "access-toggle", :style => "outline: none; #{user_signed_in? ? 'line-height: 0px' : ''};", :"data-toggle" => "dropdown", :href => "#"}
            - if user_signed_in?
              = current_user.username
            - else
              %i.fa.fa-user
            %b.caret
          %ul.dropdown-menu.dropdown-menu-right{:"aria-labelledby" => "access-toggle"}
            - if user_signed_in?
              - @nav.each do |item|
                = render_navigation(item)
              %li
                = link_to "Log out", destroy_user_session_path, :class => "dropdown-item", data: { turbo_method: :delete }
            - else
              %li
                = link_to "Login", new_user_session_path, :class => "dropdown-item"
              %li
                = link_to "Register", new_user_registration_path, :class => "dropdown-item"
