%nav.navbar.navbar-expand-md.navbar-dark.navbar-default.bg-obscure
  %div.container
    %a.navbar-brand{:href => "/"}
      = image_tag "rva-logo-dark.png", :height => "45", :width => "45", :style => "border-radius: 50px;"

    %button.navbar-toggler{:type => "button", :"data-toggle" => "collapse", :"data-target" => "#main-navbar", :"aria-controls" => "main-navbar", :"aria-expanded" => "false", :"aria-label" => "Toggle navigation"}
      %span.navbar-toggler-icon

    %div.collapse.navbar-collapse{:id => "main-navbar"}
      %ul.navbar-nav.mr-auto
        %li.nav-item
          %a.nav-link{:href => play_path}
            %i.fa.fa-play{:"aria-hidden" => "true"}
            = t('nav.play')
        %li.nav-item
          %a.nav-link{:href => tracks_path}
            %i.fa.fa-map{:"aria-hidden" => "true"}
            = "Tracks"
        %li.nav-item
          %a.nav-link{:href => cars_path}
            %i.fa.fa-car{:"aria-hidden" => "true"}
            = "Cars"
        %li.nav-item
          %a.nav-link{:href => seasons_path}
            %i.fa.fa-calendar
            = "Seasons"
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{:href => "", :"data-toggle" => "dropdown", :"aria-haspopup" => "true", :"aria-expanded" => "false"}
            %i.fa.fa-trophy{:"aria-hidden" => true}
            = "League"
          %div.dropdown-menu{:"aria-labelledby" => "dropdown01"}
            %a.dropdown-item{:href => stats_path}
              %i.fa.fa-line-chart{:"aria-hidden" => "true"}
              = "Leaderboard"
            %a.dropdown-item{:href => points_path}
              %i.fa.fa-list-ol{:"aria-hidden" => "true"}
              = t('nav.rva.points')
            %a.dropdown-item{:href => teams_path}
              %i.fa.fa-users
              = t('nav.league.teams')
            %a.dropdown-item{:href => tournaments_path}
              %i.fa.fa-flag
              = t('nav.league.tournaments')
        %li.nav-item
          %a.nav-link{:href => downloads_path}
            %i.fa.fa-download{:"aria-hidden" => "true"}
            = t('nav.downloads')
        %li.nav-item
      %ul.navbar-nav
        %li.dropdown
          %a.nav-link.dropdown-toggle{:id => "access-toggle", :style => "outline: none; #{user_signed_in? ? 'line-height: 0px' : ''};", :"data-toggle" => "dropdown", :href => "#"}
            - if user_signed_in?
              %span.current-username
                = current_user.username
            - else
              %i.fa.fa-user
            %b.caret
          %ul.dropdown-menu.dropdown-menu-right{:"aria-labelledby" => "access-toggle"}
            - if user_signed_in?
              - @nav.each do |item|
                = render_navigation(item)
              %li
                = link_to "Log out", destroy_user_session_path, :class => "dropdown-item", data: { turbo: true, turbo_method: :delete }
            - else
              %li
                = link_to "Login", new_user_session_path, :class => "dropdown-item"
              %li
                = link_to "Register", new_user_registration_path, :class => "dropdown-item"
