%nav.navbar.navbar-expand-md.navbar-dark.navbar-default.bg-obscure
  %div.container
    %a.navbar-brand{:href => "/"}
      = image_tag "rva-logo-dark.png", :height => "45", :width => "45", :style => "border-radius: 50px;"

    %button.navbar-toggler{:type => "button", :"data-toggle" => "collapse", :"data-target" => "#main-navbar", :"aria-controls" => "main-navbar", :"aria-expanded" => "false", :"aria-label" => "Toggle navigation"}
      %span.navbar-toggler-icon

    %div.collapse.navbar-collapse{:id => "main-navbar"}
      %ul.navbar-nav.mr-auto
        %li.nav-item
          %a.nav-link{:href => play_path}
            %i.fa.fa-play{:"aria-hidden" => "true"}
            = t('nav.play')
        %li.nav-item
          %a.nav-link{:href => tracks_path}
            %i.fa.fa-map{:"aria-hidden" => "true"}
            = t("nav.tracks")
        %li.nav-item
          %a.nav-link{:href => cars_path}
            %i.fa.fa-car{:"aria-hidden" => "true"}
            = t("nav.cars")
        %li.nav-item
          %a.nav-link{:href => seasons_path}
            %i.fa.fa-calendar
            = t("nav.seasons")
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{:href => "", :"data-toggle" => "dropdown", :"aria-haspopup" => "true", :"aria-expanded" => "false"}
            %i.fa.fa-trophy{:"aria-hidden" => true}
            = t("nav.league.title")
          %div.dropdown-menu{:"aria-labelledby" => "dropdown01"}
            %a.dropdown-item{:href => stats_path}
              %i.fa.fa-line-chart{:"aria-hidden" => "true"}
              = t("nav.league.leaderboard")
            %a.dropdown-item{:href => points_path}
              %i.fa.fa-list-ol{:"aria-hidden" => "true"}
              = t('nav.league.point-system')
            %a.dropdown-item{:href => teams_path}
              %i.fa.fa-users
              = t('nav.league.teams')
            %a.dropdown-item{:href => tournaments_path}
              %i.fa.fa-flag
              = t('nav.league.tournaments')
        %li.nav-item
          %a.nav-link{:href => downloads_path}
            %i.fa.fa-download{:"aria-hidden" => "true"}
            = t('nav.downloads')
        %li.nav-item
      %ul.navbar-nav
        - if user_signed_in?
          %li.dropdown
            %a.nav-link.dropdown-toggle{:href => "", :"data-toggle" => "dropdown", :"aria-haspopup" => true, :"aria-expanded" => false}
              = image_tag "i18n/#{I18n.locale}.png", :class => "locale-flag"
            %ul.dropdown-menu.dropdown-menu-right{:"aria-labelledby" => "dropdown02"}
              - I18n.available_locales.each do |l|
                %a.dropdown-item{:"data-turbo" => "true", :"data-turbo-method" => "put", :href => users_locale_path(:username => current_user.username, :locale => l)}
                  = image_tag "i18n/#{l}.png", :class => "locale-flag"
                  = SYS::LOCALES_MAP.key(l)

        %li.dropdown
          %a.nav-link.dropdown-toggle{:id => "access-toggle", :"data-toggle" => "dropdown", :href => "#"}
            - if user_signed_in?
              %span.current-username
                = current_user.username
            - else
              %i.fa.fa-user
            %b.caret
          %ul.dropdown-menu.dropdown-menu-right{:"aria-labelledby" => "access-toggle"}
            - if user_signed_in?
              - @nav.each do |item|
                = render_navigation(item)
              %li
                = link_to t("nav.user.log-out"), destroy_user_session_path, :class => "dropdown-item", data: { turbo: true, turbo_method: :delete }
            - else
              %li
                = link_to t("nav.user.login"), new_user_session_path, :class => "dropdown-item"
              %li
                = link_to t("nav.user.register"), new_user_registration_path, :class => "dropdown-item"
