%nav.sub-nav.navbar.navbar-expand.navbar-dark.navbar-default.mb-3
  %div.container
    %div.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          %a.nav-link{:href => seasons_path, :class => "#{current_page?(seasons_path) ? 'active' : ''}"}
            = "Seasons »"
        - if defined?(season)
          %li.nav-item
            %a.nav-link{:href => season_path(season), :class => "#{current_page?(season_path(season)) ? 'active' : ''}"}
              = "#{season.name} »"
        - if defined?(rankings)
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{:href => "", :"data-toggle" => "dropdown", :"aria-haspopup" => "true", :"aria-expanded" => "false"}
              - if defined? (ranking)
                = "Ranking #{ranking.number}"
              - else
                = "Ranking"
            %div.dropdown-menu{:"aria-labelledby" => "dropdown04"}
              - rankings.each do |r|
                %a.dropdown-item{:href => ranking_path(r), :class => "#{ranking == r ? 'active' : ''}"}
                  = "Ranking #{r.number}"
        -# NOTE: Our Session model name conflicts with ActionDispatch::Request::Session, so we have to check if the
        -# definition is ours ...
        - if defined?(session) && session.is_a?(Session)
          %li.nav-item
          %a.nav-link{:href => session_path(session), :class => "#{current_page?(session_path(session)) ? 'active' : ''}"}
            = "Session #{session.number}"
