#about
  %section.jumbotron.text-center
    .container
      %h1
        = t('application.about.title')
      %p.lead
        = t('application.about.description')

  :markdown
    ## #{t('application.about.subtitle')}

    #{t('application.about.text1_html')}

    #{t('application.about.text2_html')}

    #{t('application.about.text3_html')}

    #{t('application.about.text4_html', :distribute_launcher => DISTRIBUTE::RVGL_LAUNCHER, :downloads_path => downloads_path, :play_path => play_path)}

  %h2.text-center
    = t('application.about.see_you')
  #carouselIndicators.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carouselIndicators"}
      %li{"data-slide-to" => "1", "data-target" => "#carouselIndicators"}
      %li{"data-slide-to" => "2", "data-target" => "#carouselIndicators"}
    .carousel-inner
      - 1.upto(3) do |n|
        %div{:class => "carousel-item #{n == 1 ? 'active' : ''}"}
          = image_tag "about/#{n}.png", :class => "d-block w-100"
    %a.carousel-control-prev{"data-slide" => "prev", href: "#carouselIndicators", role: "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.carousel-control-next{"data-slide" => "next", href: "#carouselIndicators", role: "button"}
      %span.carousel-control-next-icon{"aria-hidden" => "true"}
      %span.sr-only Next
