- content_for :splash do
  = render :partial => "splash"

#landing
  .row.text-center
    .col-lg-4
      = image_tag "index/community.png", :class => "img-fluid"
      %h2
        = t("application.index.community.title")
      %p
        = t("application.index.community.description")
      %p
        %a.btn-important{ href: play_path, role: "button" }
          = t("application.index.community.play-button")
    .col-lg-4
      = image_tag "index/competition.png", :class => "img-fluid"
      %h2
        = t("application.index.competition.title")
      %p
        = t("application.index.competition.description")
      %p
        %a.btn-important{ href: seasons_path, role: "button" }
          = t("application.index.competition.seasons-button")
    .col-lg-4
      = image_tag "index/reliability.png", :class => "img-fluid"
      %h2
        = t("application.index.reliability.title")
      %p
        = t("application.index.reliability.description")
      %p
        %a.btn-important{ href: about_path, role: "button" }
          = t("application.index.reliability.about-us-button")

#recent.mt-5
  - if @recent_sessions&.any?
    %h6.pb-2.mb-0
      = t("application.index.recent.title")
    .media-group
      - @recent_sessions.each do |session|
        %a.media.text-muted.pt-3{:href => session_path(session) }
          .session-number{:style => "background-color: #{session_color_hex(session)}"}
            .text-center
              %span.align-middle
                = session.number
          .media-body.pb-3.mb-0.small.lh-125
            .d-flex.justify-content-between.align-items-center.w-100
              %strong.text-gray-dark
                = t("application.index.recent.races", category: session_category_name(session))
              .session-date
                = pretty_datetime(session.date)
            %span.d-block.session-host
              = t("application.index.recent.hosted-by", host: session.host)
