- content_for :splash do
  = render :partial => "splash"

#landing
  .row.text-center
    .col-lg-4
      = image_tag "index/community.png", :width => 340
      %h2 Community
      %p We are an amazing Re-Volt community mainly made up of South American players, but you will also find people from all over the world playing online with us.
      %p
        %a.btn{ href: play_path, role: "button" } Play »

    .col-lg-4
      = image_tag "index/competition.png", :width => 340
      %h2 Competition
      %p In Re-Volt America we race in a seasonal format. Throughout each season, you will be able to race online daily and score points for every race you participate in!
      %p
        %a.btn{ href: seasons_path, role: "button" } Seasons »
    .col-lg-4
      = image_tag "index/reliability.png", :width => 340
      %h2 Reliability
      %p Re-Volt America has been designed with sustainability and scalability in mind. Most of the features you see here you will not find in any other Re-Volt community.
      %p
        %a.btn{ href: "#", role: "button" } About Us »

#recent
  %h6.border-bottom.border-gray.pb-2.mb-0
    = "Recent Sessions"

  - current_ranking.sessions.each do |session|
    %a.media.text-muted.pt-3.border-bottom.border-gray{:href => session_path(session) }
      .session-number{:style => "background-color: #{session_color_hex(session)}"}
        .text-center
          %span.align-middle
            = session.number
      .media-body.pb-3.mb-0.small.lh-125
        .d-flex.justify-content-between.align-items-center.w-100
          %strong.text-gray-dark
            = "#{session_category_name(session)} Races"
          .session-date
            = pretty_datetime(session.date)
        %span.d-block.session-host
          = "Hosted by #{session.host}"
  %small.d-block.text-center.mt-3
    = link_to "All Sessions", sessions_path, :class => "btn btn-sm"
