- content_for :title, t("rankings.stats.page-title")
- meta :title, t("rankings.stats.meta.title")
- meta :description, t("rankings.stats.meta.description")

%h1.mb-4
  = t("rankings.stats.title")

%form.form-inline.mb-4{action: stats_path, method: "get"}
  %input#search.form-control.mr-2{type: "text", name: "query", placeholder: t("misc.placeholder.search"), value: params[:query]}
    %button.btn.btn-primary{type: "submit"}
      %i.fa.fa-search

= t("rankings.stats.sorted")

%select#sorter.form-control{style: "display: inline-block; width: 130px; cursor: pointer;"}
  - @sorts.each do |key, label|
    - if params[:sort].eql?(key.to_s)
      %option{label: label, selected: "selected", value: "#{stats_path(sort: key, query: params[:query])}"}= label
    - else
      %option{label: label, value: "#{stats_path(sort: key, query: params[:query])}"}= label

.table-responsive.mt-4#stats-table
  = paginate @users

  %table.mt-3.table.table-bordered.table-striped
    %thead
      %tr
        %th{width: "1%"} #
        %th{width: "2%"}= t("rankings.table.country")
        %th{width: "15%"}= t("rankings.table.racer")
        %th{width: "2%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Race wins"}= t("rankings.stats.table.wins")
        %th{width: "2%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Arrived 3rd or higher"}= t("rankings.stats.table.podiums")
        %th{width: "12%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Wins divided by race count"}= t("rankings.stats.table.win-ratio")
        %th{width: "15%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Average finish position"}= t("rankings.stats.table.average-pos")
        %th{width: "15%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Total amount of finished races"}= t("rankings.stats.table.race-count")
        %th{width: "17%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Accumulated points"}= t("rankings.stats.table.obtained-points")
        %th{width: "15%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Accumulated official score"}= t("rankings.stats.table.official-score")
    %tbody
      - @users.each do |user|
        - @count += 1
        %tr
          %td.rank.text-center
            = "#{@count - 1}"
          %td.country-flag.text-center
            = render :partial => 'users/country_flag', :locals => {:country => user.country}
          %td.racer.align-middle
            = link_to user.username, user_path(user)
          %td.stat-number.align-middle
            = user.stats.race_wins
          %td.stat-number.align-middle
            = user.stats.race_podiums
          %td.stat-number.align-middle
            = user.stats.race_win_rate
          %td.stat-number.align-middle
            = user.stats.average_position
          %td.stat-number.align-middle
            = user.stats.race_count
          %td.stat-number.align-middle
            = user.stats.obtained_points
          %td.stat-number.align-middle
            = user.stats.official_score.round(2)

  = paginate @users

:javascript
  var select = document.getElementById('sorter');

  select.onchange = function () {
      var option = this.options[this.selectedIndex];
      window.location.replace(option.value)
  }
