- content_for :title, "Re-Volt America - Stats"

%h1.mb-4
  Global Stats

Sorted by:

%select#sorter.form-control{style: "display: inline-block; width: 130px; cursor: pointer;"}
  - @sorts.each do |key, label|
    - if params[:sort].eql?(key.to_s)
      %option{label: label, selected: "selected", value: "#{full_url_for :sort => key}"}= label
    - else
      %option{label: label, value: "#{full_url_for :sort => key}"}= label

.table-responsive.mt-4#stats-table
  = paginate @users

  %table.mt-3.table.table-bordered.table-striped
    %thead
      %tr
        %th{width: "1%"} #
        %th{width: "2%"} Country
        %th{width: "15%"} Racer
        %th{width: "2%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Race wins"} Wins
        %th{width: "2%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Arrived 3rd or higher"} Podiums
        %th{width: "12%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Wins divided by race count"} Win Ratio
        %th{width: "15%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Average finish position"} Average Pos.
        %th{width: "15%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Total amount of finished races"} Race Count
        %th{width: "17%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Accumulated points"} Obtained Points
        %th{width: "15%", :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Accumulated official score"} Official Score
    %tbody
      - @users.each do |user|
        - @count += 1
        %tr
          %td.rank.text-center
            = "#{@count - 1}"
          %td.country-flag.text-center
            - if user.country.nil? || user.country.eql?("??")
              = "?"
            - else
              %i.twf{:class => "twf-#{user.country.downcase}"}
          %td.racer.align-middle
            = link_to user.username, user_path(user)
          %td.stat-number.align-middle
            = user.stats.race_wins
          %td.stat-number.align-middle
            = user.stats.race_podiums
          %td.stat-number.align-middle
            = user.stats.race_win_rate
          %td.stat-number.align-middle
            = user.stats.average_position
          %td.stat-number.align-middle
            = user.stats.race_count
          %td.stat-number.align-middle
            = user.stats.obtained_points
          %td.stat-number.align-middle
            = user.stats.official_score.round(2)

  = paginate @users

:javascript
  var select = document.getElementById('sorter');

  select.onchange = function () {
      var option = this.options[this.selectedIndex];
      window.location.replace(option.value)
  }
