!!!
%html{:lang => "en"}
  = render :partial => "head"
  %body
    = render :partial => "nav"

    .container
      = render :partial => "alerts"
      = if content_for?(:content) then yield :content else yield end
      %hr
      = render :partial => "footer"
